<section class="blog">
    <h1>Blog</h1>
    <!-- [[web_content_list(3,0,name)]] -->

    <div class="blog-list">
        <div class="web_content_item">
            <div class="web_content_item_img"><a href="/noticias/como-escoger-una-silla-de-ruedas-motorizada" title="¿Cómo escoger una Silla De Ruedas Motorizada?"><img src="https://picsum.photos/300/200"></a></div>
            <div class="web_content_item_title" title="¿Cómo escoger una Silla De Ruedas Motorizada?"><a href="/noticias/como-escoger-una-silla-de-ruedas-motorizada">Cómo escoger una Silla De Ruedas Motorizada</a></div>
            <div class="web_content_item_description">Si tienes dudas sobre qué aspectos tener en cuenta a la hora de escoger una silla de ruedas motorizada, este articulo es para ti.</div>
            <div class="web_content_item_date">2019-09-27</div>
        </div>
        <div class="web_content_item">
            <div class="web_content_item_img"><a href="/noticias/como-escoger-una-silla-de-ruedas-motorizada" title="¿Cómo escoger una Silla De Ruedas Motorizada?"><img src="https://picsum.photos/300/200"></a></div>
            <div class="web_content_item_title" title="¿Cómo escoger una Silla De Ruedas Motorizada?"><a href="/noticias/como-escoger-una-silla-de-ruedas-motorizada">Cómo escoger una Silla De Ruedas Motorizada</a></div>
            <div class="web_content_item_description">Si tienes dudas sobre qué aspectos tener en cuenta a la hora de escoger una silla de ruedas motorizada, este articulo es para ti.</div>
            <div class="web_content_item_date">2019-09-27</div>
        </div>
        <div class="web_content_item">
            <div class="web_content_item_img"><a href="/noticias/como-escoger-una-silla-de-ruedas-motorizada" title="¿Cómo escoger una Silla De Ruedas Motorizada?"><img src="https://picsum.photos/300/200"></a></div>
            <div class="web_content_item_title" title="¿Cómo escoger una Silla De Ruedas Motorizada?"><a href="/noticias/como-escoger-una-silla-de-ruedas-motorizada">Cómo escoger una Silla De Ruedas Motorizada</a></div>
            <div class="web_content_item_description">Si tienes dudas sobre qué aspectos tener en cuenta a la hora de escoger una silla de ruedas motorizada, este articulo es para ti.</div>
            <div class="web_content_item_date">2019-09-27</div>
        </div>
        <div class="web_content_item">
            <div class="web_content_item_img"><a href="/noticias/como-escoger-una-silla-de-ruedas-motorizada" title="¿Cómo escoger una Silla De Ruedas Motorizada?"><img src="https://picsum.photos/300/200"></a></div>
            <div class="web_content_item_title" title="¿Cómo escoger una Silla De Ruedas Motorizada?"><a href="/noticias/como-escoger-una-silla-de-ruedas-motorizada">Cómo escoger una Silla De Ruedas Motorizada</a></div>
            <div class="web_content_item_description">Si tienes dudas sobre qué aspectos tener en cuenta a la hora de escoger una silla de ruedas motorizada, este articulo es para ti.</div>
            <div class="web_content_item_date">2019-09-27</div>
        </div>

        <div class="web_content_paginate">
            <div>Ir a la página:</div>
            <select name="pag_webc" id="pag_webc">
                <option value="1" selected="">1</option><option value="2">2</option><option value="3">3</option>
            </select>
        </div>
    </div>
</section>