<section class="contenido">
    <div class="banner">
        <div class="main-title">
                Dreams and dedication are powerful combination
        </div>
        <img src="https://www.vw.com.br/content/dam/vw-ngw/vw_pkw/importers/br/volkswagen/volkswagenbrasil/VW_do_Brasil_Stage_32x9_2342x684px_01.jpg/jcr:content/renditions/original.transform/max/img.jpg">
    </div>

    <h2 class="main-title">
        Dreams and dedication are powerful combination.
    </h2>
    <div class="content">

        <div class="title">Dreams and dedication are powerful combination.</div>
        
        <p>
            <img src="https://picsum.photos/300/300" alt="">

            And if she hasn’t been rewritten, then they are still using her.Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarks grove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.
            
        
             <br><br>
            It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
            <br><br>
            When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarks grove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way. On her way she met a copy.

        </p>

    </div>
    <div class="divisor">
        Test divisor Lorem ipsum dolor
        <div class="text">
            Lorem ipsum dolor sit amet consectetur.
        </div>
    </div>
    <div class="content">
        <div class="title">
            Lorem ipsum dolor sit.
        </div>

        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus cumque voluptatem ullam sequi harum nam laudantium ab accusantium odit similique.

        <br><br>

        <img src="https://picsum.photos/300/301" class="left" alt="">

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam pariatur similique non odit ad delectus molestias, maiores aliquam accusamus culpa veritatis maxime, velit doloribus temporibus quis adipisci perferendis neque, aliquid doloremque unde? Assumenda, corrupti!
    </div>

</section>