<div class="concesionario">
    <div class="info">
        <div class="title">
            Concesionario Bogotá 1
        </div>
        <div class="items">
            <div>
                <span>
                    Dirección:
                </span>
                Abc Test
            </div>
            <div>
                <span>
                    Teléfonos:
                </span>
                Abc teléfono
            </div>
            <div>
                <span>
                    Horarios de Atención:
                </span>
                Abc Test am- 121 pm
            </div>
            <div>
                <span>
                    Correo electrónico:
                </span>
                Abc Test@gmail.com
            </div>
        </div>
    </div>
    <div class="mapa">
        <img src="https://picsum.photos/400/500" alt="">
    </div>
</div>
<div class="concesionario">
    <div class="info">
        <div class="title">
            Concesionario Bogotá 2
        </div>
        <div class="items">
            <div>
                <span>
                    Dirección:
                </span>
                Abc Test
            </div>
            <div>
                <span>
                    Teléfonos:
                </span>
                Abc teléfono
            </div>
            <div>
                <span>
                    Horarios de Atención:
                </span>
                Abc Test am- 121 pm
            </div>
            <div>
                <span>
                    Correo electrónico:
                </span>
                Abc Test@gmail.com
            </div>
        </div>
    </div>
    <div class="mapa">
        <img src="https://picsum.photos/400/501" alt="">
    </div>
</div>
<div class="concesionario">
    <div class="info">
        <div class="title">
            Concesionario Bogotá 1
        </div>
        <div class="items">
            <div>
                <span>
                    Dirección:
                </span>
                Abc Test
            </div>
            <div>
                <span>
                    Teléfonos:
                </span>
                Abc teléfono
            </div>
            <div>
                <span>
                    Horarios de Atención:
                </span>
                Abc Test am- 121 pm
            </div>
            <div>
                <span>
                    Correo electrónico:
                </span>
                Abc Test@gmail.com
            </div>
        </div>
    </div>
    <div class="mapa">
        <img src="https://picsum.photos/400/502" alt="">
    </div>
</div>