<section class="escribanos-view">
    <h1 class="title">
        Escríbanos.
    </h1>
    <form action="" method="post" id="escribanos-form">
        <div class="col-1">
            <div class="input">
                <label for="nombre">Nombre*:</label>
                <input type="text" name="nombre" id="nombre" placeholder="Nombre">
            </div>
            <div class="input">
                <label for="apellido">Apellido*:</label>
                <input type="text" name="apellido" id="apellido" placeholder="Apellido">
            </div>
            <div class="input">
                <label for="telefono">Teléfono*:</label>
                <input type="tel" name="telefono" id="telefono" placeholder="Teléfono">
            </div>
            <div class="input">
                <label for="email">Email*:</label>
                <input type="text" name="email" id="email" placeholder="e-mail">
            </div>
        </div>
        <div class="col-2">
            <div class="input">
                <label for="comentarios">Comentarios:</label>
                <textarea name="comentarios" id="comentarios" rows="10"></textarea>
            </div>
            <div class="tyc">
                <div class="text">Autoriza el uso de mis datos personales para que Porsche Colombia S.A.S., su red de concesionarios autorizados en Colombia, sus matrices, filiales y/o empresas del grupo Volkswagen y/o terceros relacionados con estos, en adelante "Las Compañías" e contacten por todos los canales disponibles, incluidos medios electrónicos con el fin de recibir información relacionada con la cotización solicitada.*:</div>
                <div class="accept">
                    <div class="input">
                        <input type="radio" name="tyc" id="tyc" value="1">
                        <span>Sí</span>
                    </div>
                    <div class="input">
                        <input type="radio" name="tyc" id="tyc" value="0">
                        <span>No</span>
                    </div>
                </div>
            </div>
            <div class="pp">
                <div class="text">
                    Acepto recibir comunicaciones publicitarias, promocionales y de mercadeo por parte de "Las Compañías", por todos los canales disponibles, incluidos medios electrónicos.*:
                </div>
                <div class="accept">
                    <div class="input">
                        <input type="radio" name="tyc" id="tyc" value="1">
                        <span>Sí</span>
                    </div>
                    <div class="input">
                        <input type="radio" name="tyc" id="tyc" value="0">
                        <span>No</span>
                    </div>
                </div>
            </div>
            <div class="input submit">
                <input type="submit" value="Enviar" class="btn">
            </div>
        </div>
    </form>
</section>