<section class="home-content">
    [[home_banners]]
    
    <div class="page-content">
        <div class="formulario-contacto-home">
            <div class="title">
                Estoy Interesado
            </div>
            <form action="/" method="post">
                <div class="info">
                    <select name="modelos" id="modelos" required>
                        <option value="" >--Modelos--</option>
                    </select>
                    <input type="email" name="email" id="email" placeholder="Correo Electrónico *" minlength="3" required>
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre" minlength="3" required>
                    <input type="text" name="apellido" id="apellido" placeholder="Apellido" minlength="3" required>
                    <input type="tel" name="telefono" id="telefono" placeholder="Teléfono" minlength="3" required>
                </div>
                <div class="tyc">
                    <div>
                        <input type="radio" name="it" id="tyc-ic">
                        <label for="tyc-ic">Me interesaría realizar una prueba de Manejo</label>
                    </div>
                    <div>
                        <input type="radio" name="it" id="tyc-acc">
                        <label for="tyc-acc">He leído y acepto el Aviso de Privacidad</label>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn">Enviar</button>
                </div>
            </form>
        </div>
        <div class="info-banner swiper-container" id="info-banner">
            <div class="swiper-wrapper">
                [[web_content_list(6,0,name)]]
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>

    <div class="selectone">
        [[box2content]]
        <script>
            let grpContainer = document.createElement('div');
            grpContainer.classList.add('swiper-container');

            grpContainer.style.position = 'relative';
            grpContainer.setAttribute('id', 'cn_slider');
            
            // document.getElementsByClassName('container_div')[0];
            document.getElementsByClassName('container_div')[0].classList.add('swiper-wrapper');
            [...document.getElementsByClassName('dpr_container')].forEach (function (el) {
                el.classList.add('swiper-slide');
            });

            grpContainer.appendChild(document.getElementsByClassName('container_div')[0]);
            let swprPag =document.createElement('div');
            swprPag.classList.add('swiper-pagination');
            grpContainer.appendChild(swprPag);
            swprPag =document.createElement('div');
            swprPag.classList.add('swiper-button-next');
            grpContainer.appendChild(swprPag);
            swprPag =document.createElement('div');
            swprPag.classList.add('swiper-button-prev');
            grpContainer.appendChild(swprPag);

            document.getElementsByClassName('selectone')[0].appendChild(grpContainer);

        </script>
    </div>
    
    <div class="saber-mas">
        <div class="title">¿Quieres Saber más?</div>
        <div class="item asesor">
            <a href="">

                <div class="icon">
                    <img src="[[cdn_domain]]/css/porsche/images/asesor.png" alt="Asesor">
                    
                </div>
                <div class="title">Asesor de Ventas</div>
                <div class="text">Habla con nuestros asesores.</div>
                <div class="link">
                    Contactar
                </div>
            </a>
        </div>
        <div class="item promos">
            <a href="">

                <div class="icon">
                    <img src="[[cdn_domain]]/css/porsche/images/promos.png" alt="Promociones">
                </div>
                <div class="title">Promociones</div>
            
                <div class="text">Las mejores prmociones para ti.</div>
                <div class="link">
                    Ver Promociones
                </div>
            </a>
        </div>
        <div class="item ubicacion">
            <a href="">

                <div class="icon">
                    <img src="[[cdn_domain]]/css/porsche/images/ubicacion.png" alt="Ubicación">
                </div>
                <div class="title">Ubicación</div>
                <div class="text">¿Cómo llegar?</div>
                <div class="link">
                    Ubicación
                </div>
            </a>
        </div>
    </div>
</section>