<section class="home-content">
    [[home_banners]]
    <div class="page-content">
        <div class="formulario-contacto-home">
            <div class="title">
                Estoy Interesado
            </div>
            <form action="/" method="post">
                <div class="info">
                    <select name="modelos" id="modelos" required>
                        <option value="" >--Modelos--</option>
                    </select>
                    <input type="email" name="email" id="email" placeholder="Correo Electrónico *" minlength="3" required>
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre" minlength="3" required>
                    <input type="text" name="apellido" id="apellido" placeholder="Apellido" minlength="3" required>
                    <input type="tel" name="telefono" id="telefono" placeholder="Teléfono" minlength="3" required>
                </div>
                <div class="tyc">
                    <div>
                        <input type="radio" name="it" id="tyc-ic">
                        <label for="tyc-ic">Me interesaría realizar una prueba de Manejo</label>
                    </div>
                    <div>
                        <input type="radio" name="it" id="tyc-acc">
                        <label for="tyc-acc">He leído y acepto el Aviso de Privacidad</label>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn">Enviar</button>
                </div>
            </form>
        </div>
        <div class="banner2">
            <a href="#" class="item">
                <div class="image">
                    <img src="[[cdn_domain]]/css/porsche/images/banner-promo_abril.jpg" alt="">
                </div>
                <div class="texto">
                    Conoce nuestras promociones
                </div>
            </a>
            <a href="#" class="item">
                <div class="image">
                    <img src="[[cdn_domain]]/css/porsche/images/b-1.jpg" alt="">
                </div>
                <div class="texto">
                    Precios de Mantenimiento Volkswagen
                </div>
            </a>
            <a href="#" class="item">
                <div class="image">
                    <img src="[[cdn_domain]]/css/porsche/images/seguridad_banner.jpg" alt="">
                </div>
                <div class="texto">
                    Seguridad Volkswagen
                </div>
            </a>
        </div>
    </div>

    <div class="selectone">
        <div class="title">Elige tu Volkswagen</div>

        <div class="carousel">
            <div class="img-car">
                <img src="[[cdn_domain]]/css/porsche/images/TRPS18.jpg" alt="">
                <div class="name">
                    Transporter Pasajeros 2018
                </div>
            </div>
            <div class="img-car">
                <img src="[[cdn_domain]]/css/porsche/images/TRPS19.jpg" alt="">
                <div class="name">
                    Transporter Pasajeros 2019
                </div>
            </div>
            <div class="img-car">
                <img src="[[cdn_domain]]/css/porsche/images/PASA18.jpg" alt="">
                <div class="name">
                    Passat 2018
                </div>
            </div>
            <div class="img-car">
                <img src="[[cdn_domain]]/css/porsche/images/AMAR18.jpg" alt="">
                <div class="name">
                    Amarok 2018
                </div>
            </div>
        </div>
    </div>

    <div class="saber-mas">
        <div class="title">¿Quieres Saber más?</div>
        <div class="item asesor">
            <a href="">

                <div class="icon">
                    <img src="[[cdn_domain]]/css/porsche/images/asesor.png" alt="Asesor">
                    
                </div>
                <div class="title">Asesor de Ventas</div>
                <div class="text">Habla con nuestros asesores.</div>
                <div class="link">
                    Contactar
                </div>
            </a>
        </div>
        <div class="item promos">
            <a href="">

                <div class="icon">
                    <img src="[[cdn_domain]]/css/porsche/images/promos.png" alt="Promociones">
                </div>
                <div class="title">Promociones</div>
            
                <div class="text">Las mejores prmociones para ti.</div>
                <div class="link">
                    Ver Promociones
                </div>
            </a>
        </div>
        <div class="item ubicacion">
            <a href="">

                <div class="icon">
                    <img src="[[cdn_domain]]/css/porsche/images/ubicacion.png" alt="Ubicación">
                </div>
                <div class="title">Ubicación</div>
                <div class="text">¿Cómo llegar?</div>
                <div class="link">
                    Ubicación
                </div>
            </a>
        </div>
    </div>
</section>