<section class="home-content">
    [[home_banners]]
    
    <div class="page-content">
        <div class="formulario-contacto-home lm-form">
            <div class="title">
                Estoy Interesado
            </div>
            [[formulario(1)]]
        </div>
        [[home_banners_small]]
        <script>
            var homeInfoBanners = document.getElementById('home_small_banners');

            if (homeInfoBanners.childElementCount > 0) {
                homeInfoBanners.classList.add('swiper-container');
                let swiperCont = document.createElement('div');
                swiperCont.classList.add('swiper-wrapper');
                [...homeInfoBanners.children].forEach(el => {
                    el.classList.add('swiper-slide');
                    swiperCont.appendChild(el);
                });

                homeInfoBanners.appendChild(swiperCont);

                let swprPag =document.createElement('div');
                swprPag.classList.add('swiper-pagination');
                homeInfoBanners.appendChild(swprPag);
                swprPag =document.createElement('div');
                swprPag.classList.add('swiper-button-next');
                homeInfoBanners.appendChild(swprPag);
                swprPag =document.createElement('div');
                swprPag.classList.add('swiper-button-prev');
                homeInfoBanners.appendChild(swprPag);




                var swiperHomeBanners = new Swiper('#home_small_banners', {
                    slidesPerView: 1,
                    spaceBetween: 30,
                    loop: true,
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true,
                    },
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                    breakpoints: {
                        720: {
                            slidesPerView: 2
                        },
                        1080: {
                            slidesPerView: 3
                        }
                    }
                });

            }
            
        </script>

    </div>

    <div class="selectone" id="selectOne">
        [[box2content]]
    </div>
    <script>
        [...document.getElementById('selectOne').querySelectorAll('#tpl_titulo')].forEach( el => el.parentElement.removeChild(el));
        if ([...document.querySelectorAll("[data-group]")].length > 1) {
            document.querySelectorAll("[data-group='1']");
            [...document.querySelectorAll("[data-group='1']")].forEach(el => el.parentElement.removeChild(el));
        }

        let groupTitle = document.createElement('div');
        groupTitle.setAttribute('id', 'tpl_titulo');
        groupTitle.innerHTML = 'Vehículos Destacados';
        document.getElementById('selectOne').prepend(groupTitle);

    </script>
    <script>
            if ((document.getElementById('selectOne').getElementsByClassName('container_div'))[0] ) {



                let grpContainer = document.createElement('div');
                grpContainer.classList.add('swiper-container');

                grpContainer.style.position = 'relative';
                grpContainer.setAttribute('id', 'cn_slider');
                
                // document.getElementsByClassName('container_div')[0];
                document.getElementsByClassName('container_div')[0].classList.add('swiper-wrapper');
                [...document.getElementsByClassName('dpr_container')].forEach (function (el) {
                    el.classList.add('swiper-slide');
                });

                grpContainer.appendChild(document.getElementsByClassName('container_div')[0]);
                let swprPag =document.createElement('div');
                swprPag.classList.add('swiper-pagination');
                grpContainer.appendChild(swprPag);
                swprPag =document.createElement('div');
                swprPag.classList.add('swiper-button-next');
                grpContainer.appendChild(swprPag);
                swprPag =document.createElement('div');
                swprPag.classList.add('swiper-button-prev');
                grpContainer.appendChild(swprPag);

                document.getElementsByClassName('selectone')[0].appendChild(grpContainer);
            }

        </script>
    
    <div class="saber-mas">
        <div class="title">¿Quieres Saber más?</div>
        <div class="item asesor">
            <a href="/cotizador">

                <div class="icon">
                    <img src="[[cdn_domain]]/css/porsche/images/asesor.png" alt="Asesor">
                    
                </div>
                <div class="title">Asesor de Ventas</div>
                <div class="text">Habla con nuestros asesores.</div>
                <div class="link">
                    Contactar
                </div>
            </a>
        </div>
        <div class="item promos">
            <a href="/promociones">

                <div class="icon">
                    <img src="[[cdn_domain]]/css/porsche/images/promos.png" alt="Promociones">
                </div>
                <div class="title">Promociones</div>
            
                <div class="text">Las mejores promociones para ti.</div>
                <div class="link">
                    Ver Promociones
                </div>
            </a>
        </div>
        <div class="item ubicacion">
            <a href="/nuestras-sedes">

                <div class="icon">
                    <img src="[[cdn_domain]]/css/porsche/images/ubicacion.png" alt="Ubicación">
                </div>
                <div class="title">Ubicación</div>
                <div class="text">¿Cómo llegar?</div>
                <div class="link">
                    Ubicación
                </div>
            </a>
        </div>
    </div>
</section>


<!-- Swiper JS -->
<script>
    if (document.getElementById('cn_slider')) {
        var swiper = new Swiper('#cn_slider', {
            slidesPerView: 2,
            spaceBetween: 30,
            loop: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            breakpoints: {
                720: {
                    slidesPerView: 3
                }
            }
        });
        [document.getElementsByClassName('web_content_item')].forEach (function (el) {
            if (el) {
                el[0].classList.add("swiper-slide");
                el[0].classList.add("item");
            }
        });
    }


    if (document.getElementById('info-banners')) {
        var swiper = new Swiper('#info-banners', {
            slidesPerView: 2,
            spaceBetween: 30,
            loop: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            breakpoints: {
                720: {
                    slidesPerView: 3
                },
                1080: {
                    slidesPerView: 4
                }
            }
        });
    }
</script>