<section class="contenido">
    <div class="banner">
        <div class="main-title" style="color: black; font-size: 3.5em;">
            Servicio Posventa
        </div>
        <img
            src="https://awscdn.volkswagen.co/media/Theme_Stage_Editorial_Image_Component/5825-stage-child-image/dh-1856-05dd08/f4c2b6bf/1492780632/farewell-customer.jpg">
    </div>
    <div class="main-title" style="font-size: 1.7em;">
        <a style="padding: 0 1em;" href="/servicios">VW
            Servicios&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a style="padding: 0 1em;" href="/talleres">Red de
            Talleres&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a style="padding: 0 1em;" href="campana-servicio">Campaña de
            Servicio&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </div>

    <iframe src="https://www.youtube.com/embed/KD6yrv6vAyk" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope;
        picture-in-picture" allowfullscreen style="width: 100%; height: 50vh;
        padding: 2em;"></iframe>

    <div style="width: 90%; max-width: 1200px; margin: 0 auto; display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); text-align:
        center; font-size: 1.4em;">
        <div style="padding: 1em;">
            <div style="width: 100%; padding: 1em; text-align: center;">
                <img
                    src="https://awscdn.volkswagen.co/media/Theme_Teaser_Abstract_Image_Component/5825-67036-left-image/dh-853-5a4acc/814543d4/1494364376/redetalleres.jpg"
                    alt="" style="width: 100%; height: auto;">
            </div>
            <div style="font-family: VW Head; font-size: 1.3em; padding: .5em;">
                Red de Talleres
            </div>
            <div class="text" style="font-family: VW Head Light; line-height:
                1em; margin: .5em 0;">
                Concesionarios en donde encontrar el servicio y concertación de
                cita previa para mantenimiento.
            </div>

            <a href="/talleres" class="btn block" style="display: block; margin: 0 auto;">
                Más Información
            </a>
        </div>
        <div style="padding: 1em;">
            <div style="width: 100%; padding: 1em; text-align: center;">
                <img
                    src="https://awscdn.volkswagen.co/media/Theme_Teaser_Abstract_Image_Component/5825-67036-right-image/dh-363-5a4acc/83997dc4/1476668372/vwservicio.jpg"
                    alt="" style="width: 100%; height: auto;">
            </div>
            <div style="font-family: VW Head; font-size: 1.3em; padding: .5em;">
                Servicios ofrecidos
            </div>
            <div class="text" style="font-family: VW Head Light; line-height:
                1em; margin: .5em 0;">
                Toda lo que necesitas nosotros estamos para ayudarte
            </div>
            <a href="/campana-servicio" class="btn block" style="display:block; margin: 0 auto;">
                Más Información
            </a>
        </div>
    </div>
</section>