<section class="autos-view">
    
    <script src="/css/porsche/lg/js/lightgallery.min.js"></script>

    <!-- lightgallery plugins -->
    <!-- <script src="/css/porsche/lg/js/lg-thumbnail.min.js"></script>
    <script src="/css/porsche/lg/js/lg-fullscreen.min.js"></script> -->


    <div class="autos-header">
        <h1>[[product_name]]</h1>
        <nav id="auto-nav">
            <ul></ul>
        </nav>
    </div>
    <div class="content">
        [[product_description]]
    </div>
    [[product_specs]]
</section>
<script type="text/javascript">
    if (document.getElementById('vw-galeria-exterior')) lightGallery(document.getElementById('vw-galeria-exterior')); 
    if (document.getElementById('vw-galeria-interior')) lightGallery(document.getElementById('vw-galeria-interior')); 

    if (document.getElementById('galeria-colores')) {
        var swiperColores = new Swiper('#galeria-colores', {
            slidesPerView: 2,
            spaceBetween: 30,
            loop: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            pagination: {
                el: '.swiper-pagination',
            },

            breakpoints: {
                720: {
                    slidesPerView: 3
                }
            }
        });
    }

    // Sets the navigation bar
    [...document.querySelectorAll('.title.navigation')].forEach( el => {
        let nav = document.getElementById('auto-nav').children[0];
        let name = el.getAttribute('id');

        let li = document.createElement('li');
        let a = document.createElement('a');
        a.setAttribute('href', '#' + name);
        a.innerHTML = el.innerHTML.trim();
        li.appendChild(a);
        nav.appendChild(li);
    } );
</script>