<section class="autos-view">
    
    <script src="/css/porsche/lg/js/lightgallery.min.js"></script>

    <!-- lightgallery plugins -->
    <script src="/css/porsche/lg/js/lg-thumbnail.min.js"></script>
    <script src="/css/porsche/lg/js/lg-fullscreen.min.js"></script>


    <div class="autos-header">
        <h1>[[product_name]]</h1>
        <nav>
            <ul>
                <li>
                    <a href="#colores">Colores</a>
                </li>
                <li>
                    <a href="#seguridad">Seguridad</a>
                </li>
                <li>
                    <a href="#exterior">Exterior</a>
                </li>
                <li>
                    <a href="#interior">Interior</a>
                </li>
                <li>
                    <a href="#tecnologia">Tecnología</a>
                </li>
                <li>
                    <a href="#versiones">Versiones</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="content">
        [[product_description]]
    </div>
    [[product_specs]]
</section>
<script type="text/javascript">
    if (document.getElementById('vw-galeria-exterior')) lightGallery(document.getElementById('vw-galeria-exterior')); 
    if (document.getElementById('vw-galeria-interior')) lightGallery(document.getElementById('vw-galeria-interior')); 
</script>