<section class="autos-view">
    <div class="autos-header">
        <h1>[[product_name]]</h1>
        <nav>
            <ul>
                <li>
                    <a href="#colores">Colores</a>
                </li>
                <li>
                    <a href="#seguridad">Seguridad</a>
                </li>
                <li>
                    <a href="#exterior">Exterior</a>
                </li>
                <li>
                    <a href="#interior">Interior</a>
                </li>
                <li>
                    <a href="#tecnologia">Tecnología</a>
                </li>
                <li>
                    <a href="#versiones">Versiones</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="content">
        <div class="main-banner">
            <img src="[[cdn_url]]/web_content/assets/gol-volkswagen-colombia.jpg">
            <div class="inner-form">
                [[formulario(7)]]
            </div>
        </div>
        <div class="module">
            <div class="title">Colores</div>
            <div class="carousel">
                <img src="[[cdn_url]]/web_content/assets/volkswagen-gol-colombia-blanco.jpg" alt="">
            </div>
            <div class="galeria">
                <div class="exterior">
                    <img src="[[cdn_url]]/web_content/assets/gol-galeria-exterior.jpg" alt="">
                </div>
                <div class="interior">
                    <img src="[[cdn_url]]/web_content/assets/gol-galeria-interior.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="module seguridad">
            <div class="title">Seguridad</div>
        </div>
        <div class="module exterior">
            <div class="title">Exterior</div>
            <div class="img">
                <img src="[[cdn_url]]/web_content/assets/gol-volkswagen-colombia-frontal-blanco.jpg" alt="">
            </div>
            <div class="text">
                Las líneas horizontales y los trazos tridimensionales resaltan en el Volkswagen Gol un estilo renovado.
                <br><br>
                La parrilla frontal del vehículo cuenta con un nuevo diseño dándole una presencia más robusta y deportiva. En su parte trasera cuenta con una nueva línea horizontal que demuestra mayor amplitud y a su vez brinda una sensación de mayor longitud. 
            </div>
        </div>
        <div class="module interior">
            <div class="title">Interior</div>
            <div class="img">
                <img src="[[cdn_url]]/web_content/assets/gol-interior-panel-frontal-volkswagen-colombia-asientos.jpg" alt="">
            </div>
            <div class="text">
                Gol llega con una cabina totalmente rediseñada que junto a sus tecnologías mejoran la experiencia de conducción.
                <br><br>
                El computador a bordo cuenta con funciones que le permiten al conductor ver fácilmente en el panel de instrumentos la información necesaria. En dicha pantalla se puede observar el consumo promedio, la autonomía del vehículo, distancias recorridas, entre otras funciones del carro para que el conductor pueda manejar sin necesidad de distracción.
            </div>
            <div class="extra">
                <div class="img">
                    <img src="[[cdn_url]]/web_content/assets/interior-gol-volkswagen.jpg" alt="">
                </div>
                <div class="title">Aire Acondicionado</div>
            </div>
            <div class="extra">
                <div class="img">
                    <img src="[[cdn_url]]/web_content/assets/gol-tilt-down-volkswagen-colombia.jpg" alt="">
                </div>
                <div class="title">Tilt Down</div>
                <div class="info">
                    *Aplica para versión Comfortline.
                </div>
            </div>
        </div>
    </div>
</section>