<section class="retoma-view lm-form" style="background-size: cover;
background-position: center;
background-image: url('https://picsum.photos/400/300');">
    <div class="banner">
        <img src="https://picsum.photos/400/300" alt="Banner Cotizador">
        
        <div class="add-text">
            <div class="title">
                Lorem Title dolor sit amet
            </div>
            <span class="text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident temporibus corrupti ad, omnis possimus, facere natus nihil ratione nisi, doloremque consequatur vel expedita voluptatibus similique esse numquam et autem! Architecto?
            </span>
        </div>
    </div>
    <div class="formulario">
        [[formulario(5)]]
    </div>
</section>