
section.autos-view {
    .autos-header {
        $left-padding: 50px;
        width: 100%;

        h1 {
            background-color: $color-autos-header;
            color: $color-font-main;
            font-size: 2em;
            line-height: 1em;

            padding: 1em 0 1em $left-padding;
            width: 100%;
        }
        nav {
            padding: .5em 0 .5em $left-padding;
            font-size: 1.2em;
            line-height: 1em;

            width: 100%;
            background-color: $color-font-subtext;
            display: block;

            @media (max-width: $screen-m) {
                display: none;
            }

            ul {
                width: 100%;;

                li {
                    display: inline-block;
                    padding-right: 1em;

                    a {
                        width: 100%;
                        color: inherit;
                        padding: .5em;
                        display: inherit;
                    }

                    &:hover {
                        color: $font-contrast-color;
                    }
                }
            }
        }
    }
    .content {

        #product_description_title {
            display: none;
        }
        width: 100%;

        .main-banner {
            width: 100%;
            position: relative;

            img {
                width: inherit;
                height: auto;
            }
            .inner-form {
                position: absolute;
                right: 10px;
                top: 2em;
                // background-color: rgba(255, 255, 255, 0.3);
                backdrop-filter: blur(15px);
                padding: 1em;
                width: 30%;
                // height: 80%;
                max-height: 80%;
                overflow-y: auto;
                background-color: rgba(255,255,255,.3);

                @media (max-width: $screen-m) {
                    position: relative;
                    left: 0;
                    width: 100%;
                    padding: 3em;
                    max-height: unset;
                }
                h1 {
                    line-height: 1em;
                }

                li {
                    margin-top: .5em;
                }
                p {
                    font-family: $ff-main-light;
                    font-size: .7em;
                    line-height: 1em;
                }
                input,
                select {
                    @media (max-width: $screen-m) {
                        margin: 0;
                    }

                    font-size: inherit;
                    line-height: 1em;

                    font-family: $ff-main-light;
                    display: block;
                    margin-top: .3em;
                    margin-bottom: .5em;
                    padding: .7em;
                    border-radius: 4px;
                    border: 1px solid #dedede;
                    width: 60%;
                }
                input[type="checkbox"] {
                    display: inline-block;
                    margin: 0 1em;
                    width: unset;
                }
                .btn, input[type="submit"] {
                    margin: 1em auto;
                    border: 0;
                }
                #para_checkbox_89, #para_checkbox_90 {
                    text-align: center;
                }
            }

        }
        .module {
            background-color: #fff;
            width: 100%;

            >.title {
                font-family: $ff-main;
                width: 100%;
                font-size: 2.3em;
                line-height: 1em;
                text-align: center;
                background-color: $footer-bg-color;
                padding: .7em;
                text-transform: uppercase;
                letter-spacing: .3em;
                margin: 1em 0;
                grid-column: 1/-1;
            }
            .carousel {
                width: 100%;
                height: 250px;
                overflow-y: hidden;
                text-align: center;

                img {
                    height: 100%;
                    width: auto;

                    @media (max-width: $screen-m) {
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .galeria {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                @media(max-width: $screen-m) {
                    grid-template-columns: 1fr;
                }
                .interior,
                .exterior {
                    padding: 1em;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
            &.exterior,
            &.interior {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: 1em;
                grid-row-gap: 4em;
                
                @media (max-width: $screen-m) {
                    grid-template-columns: 1fr;
                }

                img {
                    width: 100%;
                    height: auto;
                }
                .text {
                    font-family: $ff-main-light;
                    font-size: 1.5em;
                    line-height: 1em;
                    color: $color-font-subtext;
                    
                    @media (max-width: $screen-m) {
                        padding: 1.3em;
                    }
                }

                >.img, 
                >.text {
                    padding: 0 10%;
                }
                .extra {

                    .title {
                        font-size: 1.8em;
                        font-family: $ff-main;
                        text-align: center;
                        line-height: 1em;
                        padding: .7em;
                    }
                    .info {
                        font-family: $ff-main-light;
                        font-size: 1.3em;
                        text-align: center;
                        line-height: 1em;

                        color: $color-font-subtext;
                    }
                }
            }
            &.interior {
                .text {
                    grid-column: 1;
                    grid-row: 2;
                }
            }
        }
    }
}