
section.home-content {

    .main-banner {
        width: 100%;
        position: relative;
        overflow: hidden;
        
        img {
            width: 100%;
            height: auto;
        }
    }

    .page-content {
        margin: 0 auto;
        max-width: 1180px;
        padding: 0 20px;
        .formulario-contacto-home {
            padding: 1em 0;
            .title {
                text-align: center;
                font-size: 1.7em;
                padding: 1em;
                font-family: $ff-main-bold;
                
            }

            form {
                text-align: center;
                padding: 0 10%;


                .info {
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;

                    
                    @media (max-width: $screen-m) {
                        display: grid;
                        grid-template-columns: 1fr;
                    }

                    select,
                    input {
                        border: 1px solid #cccccc;
                        border-radius: 5px;
                        padding: .5em;
                        margin-top: 10px;
                    }
                    input {
                        text-align: center;
                    }

                }
                .tyc {
                    text-align: center;
                    padding: 2em 0;
                    font-size: 1.1em;
                    display: flex;
                    justify-content: space-around;
                }
            }

        }
        .info-banner {

            width: 100%;
            margin-bottom: 1em;
                padding: 2em 0;
                text-align:center;

            .swiper-wrapper {
                justify-content: space-around;
            }

            .web_content_item_title {
                font-size: 2em;
                line-height: 1em;
                text-transform: 1em;
            }

            .web_content_item_date{
                display: none;
            }
            .web_content_item_description{
                display: none;
            }
        }
        .info_banner {
            display: grid;
            width: 100%;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

            @media(max-width: $screen-m) {
                grid-template-columns: 1fr;
                padding: 1em;
            }

            .item {
                margin: 10px;
                text-align: center;

                .image {
                    overflow: hidden;
                    width: 100%;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .texto {
                    text-align: center;
                    font-weight: bold;
                    font-size: 2em;
                    line-height: 1em;
                }
            }
        }
    }
    .selectone {
        background-color: #EEEEEE;
        padding: 3em 1em;

        .title {
            text-align: center;
            font-size: 3em;
            display: block;
            font-weight: bold;
            line-height: 3em;
        }
        .carousel {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            width: 100%;
            max-width: 1000px;
            text-align: center;
            grid-column-gap: 1em;
            margin: 0 auto;

            .img-car {

                img {
                    width: 100%;
                    height: auto;
                }

                .name {
                    text-align: center;
                    font-size: 1.5em;
                    font-weight: bold;
                }
            }
        }
    }
    .saber-mas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 2em;
        text-align: center;

        @media (max-width: $screen-m) {
            grid-template-columns: 1fr;
        }

        >.title {
            grid-column: 1/-1;
            text-align: center;
            font-size: 3em;
            font-weight: bold;
            padding: 1em;
            line-height: 1em;
        }
        .item {
            .icon {
                max-width: 200px;
                margin: 0 auto;

                img {
                    width: 100%;
                    height: auto;
                }
            }
            
            .text {
                font-family: $ff-text-light;
            }
            .title {
                font-size: 1.7em;
                font-weight: bold;
                padding-top: .5em;
                padding-bottom: .3em;
            }
            .link {
                font-size: 1.3em;
                margin-top: 2em;
                margin-bottom: 1em;
            }
            @media (max-width: $screen-m) {
                a {
                    grid-template-columns: 1fr 2fr;
                    display: grid;
                    margin-top: 2em;
                }
                .icon {
                    grid-row: 1/4;
                    max-width: 100px;
                    margin-right: 10px;
                    margin-left: auto;
                }
                .link {
                    margin-top: 0;
                }

                .link, .title, .text {
                    text-align: left;
                }

            }
            
        }
    }
}