
header.main-header{
    position: fixed;
    max-width: $header-desktop-width;
    overflow: hidden;
    background-color: $main-bg-color;
    box-shadow: -14px 3px 14px 10px rgba(0, 0, 0, 0.5);
    height: 100%;
    z-index: 121;
     
    @media (max-width: $screen-m) {
        padding-left: 0;
        display: none;
    }

    ul {
        list-style: none;
        overflow: hidden;
        width: 100%;
        padding: 0;
        margin: 0;
        font-size: 1em;
        &> li {
            border-bottom: 5px solid transparent;
            transition: .4s;

            &:hover {
                border-bottom-color: #0099da99;
            }
        }

        li {
            width: 100%;
            height: 75px;
            margin: 0;
            padding: 0;
            border-top: 1px solid #dddddd;

            &.main-logo {
                border-top: 0;
                height: 126px;
                padding: 2.5em 1.5em;

                img {
                    width: 100%;
                    height: auto;
                    max-height: 73px;
                }
            }

            &:hover {
                .children-menu {
                    width: 200px;
                    opacity: 1;
                }
            }

            &.option {
                &#ver-mas-option {
                    display: none;

                    &.active {
                        display: block;
                    }
                }

                a {
                    width: 100%;
                    height: 100%;
                    color: $color-font-subtext;
                    font-weight: 700;
                    line-height: 16px;
                    letter-spacing: -.25px;
                    text-align: center;
                    transition: color .3s;

                    text-align: center;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;

                    .icon {
                        text-align: center;
                        

                        svg {
                            margin-top: .7em;
                            vertical-align: middle;
                            display: inline-block;
                            line-height: normal;
                            width: 50px;
                            height: 34px;
                            fill: #808890;
                        }
                    }
                    &:hover,
                    &.active {
                        color: $color-font-main;

                        .icon {

                            svg {
                                fill: $color-main;
                                transition: fill .3s;
                            }
                        }
                    }
                    
                }
            }

            &.logo {
                padding: 30px 20px 10px;
                height: fit-content;
                img {
                    width: 100%;
                    height: auto;
                    max-height: 73px;
                }
            }
            
            .children-menu {
                display: block;
                position: fixed;
                left: $header-desktop-width;
                width: 0;
                opacity: 0;
                height: calc(100% - 86px);
                top: 86px;
                background-color: #fff;
                box-shadow: 8px 2px 20px -9px rgba(0, 0, 0, 0.5);
                border-left: 1px solid #dddddd;
                transition: width .5s, opacity .3s;

               

               
                li {
                    .children-menu {
                        left: calc(200px + #{$header-desktop-width});
                        max-width: 0;
                        transition: .3s;
                        opacity: 0;

                    }

                    &:hover {
                        .children-menu {
                            max-width: 200px;
                            opacity: 1;
                        }
                    } 
                }

                .option {
                    border-top: 1px solid #dddddd;
                }
            }
        }
    }
}