<section class="inputpay-view">
    [[tpl_steps]]
    [[tpl_logout]]
    <div class="content">
        <div class="billing_info">
            [[tpl_bill_to]]
        </div>
        <div class="shipping_info">
            [[tpl_ship_to]]
        </div>
        <div class="shipping_date">
            [[tpl_ship_date]]
        </div>
        <div class="sale_info">
            <div class="sale_info_title">
                Resumen
            </div>
            [[tpl_sale_divs]]
        </div>
        <div class="payment_options">
            <div class="payment_options_title">
                Pago
            </div>
            <div style="margin: 10px 0">
                Escoge el medio de pago más conveniente para ti.
            </div>
            [[cho_pay_methods]]
        </div>
    </div>
</section>