<section id="product-view">
    <a href="#" title="Close" class="close-modal" onclick="window.top.location.hash='close'">&times;</a>
    <div class="title">[[product_name]]</div>
    <div class="prod-images">
    </div>
    [[product_gallery_gc]]

    [[product_price_html]]
    <div class="specs-btn">
            [[product_specs]]

        <!-- <div class="specs"> -->
<!-- 
            <div class="spec">
                <div class="name">
                    Colors
                </div>
                <div class="variants">
                    <div class="variant color-test" style="background-color: rgb(2, 84, 90);"></div>
                    <div class="variant color-test" style="background-color: rgb(116, 204, 15);"></div>
                    <div class="variant color-test" style="background-color: rgb(190, 129, 129);"></div>
                </div>
            </div>
            <div class="spec">
                <div class="name">Size</div>
                <div class="variants">
                    <div class="variant selected">S</div>
                    <div class="variant">M</div>
                    <div class="variant">L</div>
                    <div class="variant">XL</div>
                </div>
            </div> -->
        <!-- </div> -->

        [[product_form]]

        <!-- <div class="add-to-cart">
            <div class="btn">
                <div class="outter-box"></div>
                Add to cart
            </div>
        </div> -->
    </div>
    [[product_stock_status]]

    [[product_description]]

    <div class="logo-marca">
        [[prod_opt_image_from_spec(1)]]
    </div>
    [[product_in_cart]]



</section>