<div id="detalle-producto">
    <div class="detalle-c pr" itemscope itemtype="http://schema.org/Product">
        <div class="galeria-detalle">
            [[product_gallery]]
        </div>

        <div class="descripcion-producto">
            <div class="descrpcion-cont">
                <div class="cont-prod">
                    <div style="text-align: right; color: #ccc; font-size: 16px">
                        [[product_structured_data]]
                        <meta itemprop="brand" content="[[prod_opt_name_from_spec(1)]]">
                        SKU: <span itemprop="sku">[[product_sku]]</span>
                    </div>
                    <div class="logo-marca">
                        [[prod_opt_image_from_spec(1)]]
                        <!--- <img src="images/marca-2.jpg" alt="marca" class="full-img"> -->
                    </div>
                    <div>
                        [[product_in_cart]]
                    </div>
                    <h1 itemprop="name">[[product_name]]</h1>
                    <div class="prod-view pr">
                        <div class="price-prod" >
                            [[product_price_html]]
                        </div>
                        [[product_stock_status]]
                        [[product_llamar_cotizar]]
                    </div>
                    <div class="cont-btn">
                        <a href="#" class="btn-talla">
                            <span>Conoce tu talla</span>
                            <span class="icon icon-talla"></span>
                        </a>
                    </div>

                    <div class="cont-btn">
                        <div class="btn-carrito">
                            [[product_form]]
                        </div>
                    </div>

                    <div class="txt-producto">
                        <p>[[product_description]]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="especificacion-prd">
    [[product_specs]]
</div>
<div class="legal">
    <p>(*Todos los precios incluyen el impuesto al valor agregado obligatorio y en algunos casos el precio de envío.)</p>
</div>

<div class="destacados">
    <h5>Relacionados</h5>
    <div id="desslide">
        <div class="slides">
            [[product_related]]
        </div>
    </div>
</div>

<div id="reftalla" class="lightbox-user">
    <div>
        <a href="#" class="cerrar-r">
            <img src="/css/sportlife/images/icon-cerrar.svg" alt="cerrar" class="full-img">
        </a>
        <div id="talla">
            <div class="talla-contenido">
                <div class="title-guia">
                    <h2>guia de tallas</h2>

                    <a class="cerrar-guia"></a>
                </div>

                <div class="encontrar-talla">
                    <h5> ¿Cómo encontrar tu talla?</h5>
                    <p>No te midas el pie por la mañana, porque la actividad que realices durante el día hará que tu pie se ensanche ligeramente. Es mejor que te midas el pie al acabar el día. </p>
                    <p>Sigue los siguientes pasos:</p>

                    <div class="pasos-talla">
                        <div class="img-pasos">
                            <img src="/css/sportlife/images/pasos.svg" alt="pasos" class="full-img">
                        </div>

                        <div class="pasos-cont">
                            <h5>MIDE DEL TALÓN A LA PUNTA DEL DEDO</h5>
                            <p>Coloca un trozo de papel en el suelo con uno de los bordes pegado a la pared. Pisa el papel con el talón pegado a la pared. Con un lápiz, haz una marca allí donde llega el dedo pulgar.</p>

                            <p>En el papel, mide la distancia que has marcado hasta el borde del papel y compárala en nuestra guía de tallas para calzado.</p>
                        </div>
                    </div>
                </div>

                <div class="guia-adulto">
                    <div class="title-azul">
                        <h5>GUÍA DE TALLAS PARA CALZADO PARA ADULTO</h5>
                    </div>

                    <div class="guia-c">
                        <div class="col-a">
                            <div class="title-gris">
                                <h5>Col</h5>
                            </div>
                            <ul>
                                <li class="c-gris-o">34</li>
                                <li class="c-gris-o">34/2</li>
                                <li class="c-gris-o">35</li>
                                <li class="c-gris-o">36</li>
                                <li class="c-gris-o">36/2</li>
                                <li class="c-gris-o">37</li>
                                <li class="c-gris-o">37/2</li>
                                <li class="c-gris-o">38</li>
                                <li class="c-gris-o">39</li>
                                <li class="c-gris-o">39/2</li>
                                <li class="c-gris-o">40</li>
                                <li class="c-gris-o">41</li>
                                <li class="c-gris-o">41/2</li>
                                <li class="c-gris-o">42</li>
                                <li class="c-gris-o">43</li>
                                <li class="c-gris-o">43/2</li>
                                <li class="c-gris-o">44</li>
                                <li class="c-gris-o">44/2</li>
                            </ul>
                        </div>

                        <div class="talon-dedo-a">
                            <div class="title-gris">
                                <h5>Talón a la punta del dedo</h5>
                            </div>

                            <ul>
                                <li class="c-gris-c">22,75 cm</li>
                                <li class="c-gris-c">23 cm</li>
                                <li class="c-gris-c">23,5 cm</li>
                                <li class="c-gris-c">24 cm</li>
                                <li class="c-gris-c">24,5 cm</li>
                                <li class="c-gris-c">25 cm</li>
                                <li class="c-gris-c">25,5 cm</li>
                                <li class="c-gris-c">25,75 cm</li>
                                <li class="c-gris-c">26 cm</li>
                                <li class="c-gris-c">26,5 cm</li>
                                <li class="c-gris-c">27 cm</li>
                                <li class="c-gris-c">27,5 cm</li>
                                <li class="c-gris-c">28 cm</li>
                                <li class="c-gris-c">28,5 cm</li>
                                <li class="c-gris-c">28,75 cm</li>
                                <li class="c-gris-c">29 cm</li>
                                <li class="c-gris-c">29,5 cm</li>
                                <li class="c-gris-c">30 cm</li>
                            </ul>
                        </div>

                        <div class="us-hombre-a">
                            <div class="title-gris">
                                <h5>Us - HOmbre</h5>
                            </div>

                            <ul>
                                <li class="c-gris-o">4</li>
                                <li class="c-gris-o">4,5</li>
                                <li class="c-gris-o">5</li>
                                <li class="c-gris-o">5,5</li>
                                <li class="c-gris-o">6</li>
                                <li class="c-gris-o">6,5</li>
                                <li class="c-gris-o">7</li>
                                <li class="c-gris-o">7,5</li>
                                <li class="c-gris-o">8</li>
                                <li class="c-gris-o">8,5</li>
                                <li class="c-gris-o">9</li>
                                <li class="c-gris-o">9,5</li>
                                <li class="c-gris-o">10</li>
                                <li class="c-gris-o">10,5</li>
                                <li class="c-gris-o">11</li>
                                <li class="c-gris-o">11,5</li>
                                <li class="c-gris-o">12</li>
                                <li class="c-gris-o">12,5</li>
                            </ul>
                        </div>

                        <div class="us-mujer-a">
                            <div class="title-gris">
                                <h5>Us - Mujer</h5>
                            </div>

                            <ul>
                                <li class="c-gris-c">5</li>
                                <li class="c-gris-c">5,5</li>
                                <li class="c-gris-c">6</li>
                                <li class="c-gris-c">6,5</li>
                                <li class="c-gris-c">7</li>
                                <li class="c-gris-c">7,5</li>
                                <li class="c-gris-c">8</li>
                                <li class="c-gris-c">8,5</li>
                                <li class="c-gris-c">9</li>
                                <li class="c-gris-c">9,5</li>
                                <li class="c-gris-c">10</li>
                                <li class="c-gris-c">10,5</li>
                                <li class="c-gris-c">11</li>
                                <li class="c-gris-c">11,5</li>
                                <li class="c-gris-c">12</li>
                                <li class="c-gris-c">12,5</li>
                                <li class="c-gris-c">13</li>
                                <li class="c-gris-c">13,5</li>
                            </ul>
                        </div>

                        <div class="uk-a">
                            <div class="title-gris">
                                <h5>UK</h5>
                            </div>

                            <ul>
                                <li class="c-gris-o">3,5</li>
                                <li class="c-gris-o">4</li>
                                <li class="c-gris-o">4,5</li>
                                <li class="c-gris-o">5</li>
                                <li class="c-gris-o">5,5</li>
                                <li class="c-gris-o">6,5</li>
                                <li class="c-gris-o">7</li>
                                <li class="c-gris-o">7,5</li>
                                <li class="c-gris-o">8</li>
                                <li class="c-gris-o">8,5</li>
                                <li class="c-gris-o">9</li>
                                <li class="c-gris-o">9,5</li>
                                <li class="c-gris-o">10</li>
                                <li class="c-gris-o">10,5</li>
                                <li class="c-gris-o">11</li>
                                <li class="c-gris-o">11,5</li>
                                <li class="c-gris-o">12</li>
                                <li class="c-gris-o">12,5</li>
                            </ul>
                        </div>

                        <div class="europa-a">
                            <div class="title-gris">
                                <h5>Europa</h5>
                            </div>

                            <ul>
                                <li class="c-gris-c">36</li>
                                <li class="c-gris-c">36 2/3</li>
                                <li class="c-gris-c">37 1/3</li>
                                <li class="c-gris-c">38</li>
                                <li class="c-gris-c">38 2/3</li>
                                <li class="c-gris-c">39 1/3</li>
                                <li class="c-gris-c">40</li>
                                <li class="c-gris-c">40 2/3</li>
                                <li class="c-gris-c">41 1/3</li>
                                <li class="c-gris-c">42</li>
                                <li class="c-gris-c">42 2/3</li>
                                <li class="c-gris-c">43 1/3</li>
                                <li class="c-gris-c">44</li>
                                <li class="c-gris-c">44 2/3</li>
                                <li class="c-gris-c">45 1/3</li>
                                <li class="c-gris-c">46</li>
                                <li class="c-gris-c">46 2/3</li>
                                <li class="c-gris-c">47 1/3</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="guia-nino">
                    <div class="title-azul">
                        <h5>GUÍA DE TALLAS PARA CALZADO PARA NIÑO</h5>
                    </div>

                    <div class="guia-c">
                        <div class="col-n">
                            <div class="title-gris">
                                <h5>Col</h5>
                            </div>

                            <ul>
                                <li class="c-gris-o">26,5</li>
                                <li class="c-gris-o">27</li>
                                <li class="c-gris-o">27,5</li>
                                <li class="c-gris-o">28,5</li>
                                <li class="c-gris-o">29,5</li>
                                <li class="c-gris-o">30</li>
                                <li class="c-gris-o">30,5</li>
                                <li class="c-gris-o">31</li>
                                <li class="c-gris-o">31,5</li>
                                <li class="c-gris-o">32</li>
                                <li class="c-gris-o">32,5</li>
                                <li class="c-gris-o">33</li>
                                <li class="c-gris-o">33,5</li>
                                <li class="c-gris-o">34</li>
                            </ul>
                        </div>

                        <div class="talon-dedo-n">
                            <div class="title-gris">
                                <h5>Talón a la punta del dedo</h5>
                            </div>

                            <ul>
                                <li class="c-gris-c">16,1 cm</li>
                                <li class="c-gris-c">16,5 cm</li>
                                <li class="c-gris-c">16,9 cm</li>
                                <li class="c-gris-c">17,4 cm</li>
                                <li class="c-gris-c">18,8 cm</li>
                                <li class="c-gris-c">18,2 cm</li>
                                <li class="c-gris-c">18,6 cm</li>
                                <li class="c-gris-c">19,1 cm</li>
                                <li class="c-gris-c">19,5 cm</li>
                                <li class="c-gris-c">19,9 cm</li>
                                <li class="c-gris-c">20,3 cm</li>
                                <li class="c-gris-c">20,7 cm</li>
                                <li class="c-gris-c">21,2 cm</li>
                                <li class="c-gris-c">21,6 cm</li>
                            </ul>
                        </div>

                        <div class="us-n">
                            <div class="title-gris">
                                <h5>Us</h5>
                            </div>

                            <ul>
                                <li class="c-gris-o">10</li>
                                <li class="c-gris-o">10,5</li>
                                <li class="c-gris-o">11</li>
                                <li class="c-gris-o">11,5</li>
                                <li class="c-gris-o">12</li>
                                <li class="c-gris-o">12,5</li>
                                <li class="c-gris-o">13</li>
                                <li class="c-gris-o">13,5</li>
                                <li class="c-gris-o">1</li>
                                <li class="c-gris-o">1,5</li>
                                <li class="c-gris-o">2</li>
                                <li class="c-gris-o">2,5</li>
                                <li class="c-gris-o">3</li>
                                <li class="c-gris-o">3,5</li>
                            </ul>
                        </div>

                        <div class="uk-n">
                            <div class="title-gris">
                                <h5>Uk</h5>
                            </div>

                            <ul>
                                <li class="c-gris-c">9,5 k</li>
                                <li class="c-gris-c">10 k</li>
                                <li class="c-gris-c">10,5 k</li>
                                <li class="c-gris-c">11 k</li>
                                <li class="c-gris-c">11,5 k</li>
                                <li class="c-gris-c">12 k</li>
                                <li class="c-gris-c">12,5 k</li>
                                <li class="c-gris-c">13 k</li>
                                <li class="c-gris-c">13,5 k</li>
                                <li class="c-gris-c">1 k</li>
                                <li class="c-gris-c">1,5 k</li>
                                <li class="c-gris-c">2 k</li>
                                <li class="c-gris-c">2,5 k</li>
                                <li class="c-gris-c">3 k</li>
                            </ul>
                        </div>

                        <div class="europa-n">
                            <div class="title-gris">
                                <h5>Europa</h5>
                            </div>

                            <ul>
                                <li class="c-gris-o">27</li>
                                <li class="c-gris-o">27,5</li>
                                <li class="c-gris-o">28</li>
                                <li class="c-gris-o">29</li>
                                <li class="c-gris-o">30</li>
                                <li class="c-gris-o">30,5</li>
                                <li class="c-gris-o">31</li>
                                <li class="c-gris-o">31,5</li>
                                <li class="c-gris-o">32</li>
                                <li class="c-gris-o">33</li>
                                <li class="c-gris-o">33,5</li>
                                <li class="c-gris-o">34</li>
                                <li class="c-gris-o">35</li>
                                <li class="c-gris-o">35,5</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="guia-canilleras">
                    <div class="title-azul">
                        <h5>GUÍA DE TALLAS PARA CANILLERAS</h5>
                    </div>

                    <div class="guia-c">
                        <div class="etiqueta">
                            <div class="title-gris">
                                <h5>Etiqueta</h5>
                            </div>

                            <ul>
                                <li class="c-gris-o">XS</li>
                                <li class="c-gris-o">S</li>
                                <li class="c-gris-o">M</li>
                                <li class="c-gris-o">L</li>
                                <li class="c-gris-o">XL</li>
                                <li class="c-gris-o">XXL</li>
                            </ul>
                        </div>

                        <div class="atura-t">
                            <div class="title-gris">
                                <h5>Altura total</h5>
                            </div>

                            <ul>
                                <li class="c-gris-c">101,6 - 119,4 cm</li>
                                <li class="c-gris-c">121,9 - 139,7 cm</li>
                                <li class="c-gris-c">142,2 - 160 cm</li>
                                <li class="c-gris-c">162,4 - 180,3 cm</li>
                                <li class="c-gris-c">182,9 - 190,5 cm</li>
                                <li class="c-gris-c">193 cm</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="guia-guantes">
                    <div class="title-azul">
                        <h5>GUÍA DE TALLAS PARA GUANTES DE PORTERO</h5>
                    </div>

                    <div class="guia-c">
                        <div class="etiqueta">
                            <div class="title-gris">
                                <h5>Etiqueta</h5>
                            </div>

                            <ul>
                                <li class="c-gris-o">4</li>
                                <li class="c-gris-o">5</li>
                                <li class="c-gris-o">6</li>
                                <li class="c-gris-o">7</li>
                                <li class="c-gris-o">8</li>
                                <li class="c-gris-o">9</li>
                                <li class="c-gris-o">10</li>
                                <li class="c-gris-o">11</li>
                                <li class="c-gris-o">12</li>
                            </ul>
                        </div>

                        <div class="mano-g">
                            <div class="title-gris">
                                <h5>Mano</h5>
                            </div>

                            <ul>
                                <li class="c-gris-c">13,7 cm</li>
                                <li class="c-gris-c">13,7 - 15,5cm</li>
                                <li class="c-gris-c">15,5 - 17,5 cm</li>
                                <li class="c-gris-c">17,5 - 19,7 cm</li>
                                <li class="c-gris-c">19,7 - 21,6 cm</li>
                                <li class="c-gris-c">21,6 - 24,1cm</li>
                                <li class="c-gris-c">24,1 - 26,7 cm</li>
                                <li class="c-gris-c">26,7 - 29,2 cm</li>
                                <li class="c-gris-c">29,2 - 31,8 cm</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="/institucional/nosotros/" style="text-decoration:none;"><div id="banner_cambio" style="">SI NO TE QUEDA, ¡TE LO CAMBIAMOS!</div></a>
