section#product-view {

    width: 60vw;
    min-width: 300px;
    max-width: 650px;
    position: relative;
    margin: 5% auto;
    padding: 5px 20px 13px 20px;
    border: #000 solid 1px;
    background: #fff;
    font-family: $ff-tc;

    p {
        line-height: 1em;
        margin: .3em 0;
    }

    @media (max-width: $screen-m) {
        width: 80%;
        max-width: 340px;
        top: 2.3em;
    }

    .title {
        font-size: 2em;
        font-weight: bold;
        font-family: $ff-adidas;
    }


    #product_gallery {
        width: 100%;

        .glass-case {
            
            ul#product-gallery {

                li {
                    border: 2px solid black;
                    border-radius: 100%;
                    overflow: hidden;
                    transition: .2s;

                    &.gc-active {
                        border: none;
                    }
                }
            }

            .gc-display-area {
                border: none;
            }
        }
    }

    .prod-images {
        .prod-image {
            text-align: center;

            img {
                width: auto;
                max-width: 600px;
                height: auto;
                max-height: 450px;
                position: relative;

                @media (max-width: $screen-m) {
                    max-width: 320px;
                    max-height: 200px;
                }
            }
        }

        .thumbs {
            width: 4em;
            position: absolute;

            .thumb {

                border-radius: 100%;
                border: #000 solid 2px;
                width: 100%;
                height: 4em;
                display: block;
                overflow: hidden;
                margin-bottom: .5em;
                cursor: pointer;
                transition: border .2s;

                &:hover {
                    border: transparent solid 1px;
                }

                img {
                    width: 100%;
                    height: auto;
                    position: relative;
                }
            }
        }
    }
    #product_pricing {
        position: absolute;
        display: block;
        width: 65%;
        text-align: right;
        font-family: $ff-adidas;
        font-size: 2em;
        border-bottom: #000000 3px solid;
        right: 1.2em;
        color: transparent;

        #product_price {
            color: #000000;
        }
    }


    .specs-btn {
        margin-top: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .specs {
        font-size: 2em;
        
        .spec {
            text-align: left;

            .name{
                font-weight: 600;
                background-color: #FFFFFF;
            }
            .variants {

                .variant {
                    display: block;
                    height: 1.1em;
                    width: 1em;
                    display: inline-block;
                    border: #000 solid 1px;
                    transition: border .2s;
                    padding: .1em;
                    overflow: hidden;
                    position: relative;
                    line-height: 1em;

                    &:hover {
                        border: transparent solid 1px;
                        cursor: pointer;
                    }

                    &.selected:before, &.selected:after {
                        position: absolute;
                        content: '';
                        background: black;
                        display: block;
                        width: 100%;
                        height: 3px;
                        -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                    }
                    
                    &.selected:after {
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
    .add-to-cart {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}