$image_preview_size: 180px;
$screen-s: 340px;
$screen-m: 540px;
$screen-tablet: 768px;
$screen-l: 900px;

$ff-tc: Typewriter_Condensed, Helvetica Neue, Helvetica, Arial, sans-serif;
$ff-adidas: adiNeue, Arial, Helvetica, sans-serif;