<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/styleChat.css" rel="stylesheet" type="text/css">
    <link href="css/styleSmall.css" rel="stylesheet" type="text/css">
    <title>NaturalCode</title>
    <link rel="shortcut icon" href="images/favicon.png" />

    <script src="jquery-3.4.1.min.js"></script>
    <script src="push.min.js"></script>


</head>

<body>

    <header id="header" class="header">
        <img src="images/logoC.png" alt="" id="imgLogo">
        <div class="header-right">
            <a class="active" href="index.html">INICIO</a>
            <a href="#contact">CONTACTO</a>
            <a href="#about">SALIR <img src="images/ico-salir.png" style="width: 20%;"></a>
        </div>
    </header>



    <div class="main">

        <div class="bloqueMultimedia secundarios">
            <h3>IMAGEN</h3>
            <p>Toma un fotografia</p>
            <br>
            <div style="text-align: center"><img src="images/multimedia.png" alt="" style="width: 50%;"></div>
        </div>

        <div class="bloqueChat secundarios">

            <div class="container">
                <img src="images/ico-callcenter.png" alt="Avatar" style="width:10%;">
                <p>Hello. How are you today?</p>
                <span class="time-right">11:00</span>
            </div>

            <div class="container darker">
                <img src="images/ico-user2.png" alt="Avatar" class="right" style="width:10%;">
                <p>Hey! I'm fine. Thanks for asking!</p>
                <span class="time-left">11:01</span>
            </div>

            <div class="container">
                <img src="images/ico-callcenter.png" alt="Avatar" style="width:10%;">
                <p>Sweet! So, what do you wanna do today?</p>
                <span class="time-right">11:02</span>
            </div>

            <div class="container darker">
                <img src="images/ico-user2.png" alt="Avatar" class="right" style="width:10%;">
                <p>Hey! I'm fine. Thanks for asking!</p>
                <span class="time-left">11:01</span>
            </div>

            <hr style="width: 90%; margin-top: 2%;">
            <div style="padding-left: 5%; bottom: 0px;">
                <form>
                    <div class="escritura">
                        <input type="text" id="ejemplo" name="ejemplo" placeholder="Escribe un mensaje...">
                        <img src="images/ico-lugar.png" alt="Avatar" class="right" style="width:3%;">
                        <img src="images/ico-adjuntar.png" alt="Avatar" class="right" style="width:3%;">
                        <img src="images/ico-microfono.png" alt="Avatar" class="right" style="width:3%;">
                    </div>
                    <input class="boton" type="submit">
                </form>
            </div>
        </div>

        <div class="bloqueInfo secundarios">
            <h3>DETALLES</h3>

            <form action="../form-result.php" target="_blank" style="text-align: center;">

                <p>Tipo de desastre:</p>
                <select class="formulario">
                    <option value="volvo">Terremoto</option>
                    <option value="saab">Avalancha</option>
                    <option value="opel">Tsunami</option>
                    <option value="audi">Inundacion</option>
                    <option value="audi">Deslizamiento</option>
                </select>
                <br><br>

                <p>Detalles:</p>
                <textarea class="formulario" name="mensaje"></textarea>
                <br>
                <button class="boton">Enviar</button>
            </form>
        </div>


    </div>



    <footer>
        <img src="images/codeInkLogo.png" style="width: 8%;">
        CodeINK Team / All rights reserved / BICTIA 2019
    </footer>

</body>

</html>