<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Natural Code</title>
    <link rel="stylesheet" href="./styles/main-form.css">
</head>

<body>
    <div class="container col-6">
        <img src="./images/logo1.png" alt="logo" class="logo">
        <form action="">
            <input type="text" name="nombre" id="nombre" placeholder="Nombre Completo" class="nombre">
            <input type="number" name="documento" id="documento" placeholder="Número de Documento">
            <input type="tel" name="telefono" id="telefono" placeholder="Número de Teléfono">
            <input type="submit" value="Reportar Desastre">
        </form>
        <a href="#"><b>Más Opciones >></b></a>
        <div id="bloque"></div>
    </div>
    <!-- <script type="text/javascript">
        var bloc = document.getElementById("bloque");
        navigator.geolocation.getCurrentPosition(showPosition); 
        function showPosition(position) {
        bloc.innerHTML = "Latitud: " + position.coords.latitude + 
        "<br>Longitud: " + position.coords.longitude;}
    </script>     -->
</body>

</html>