$screen-s: 400px;
$screen-m: 720px;
$screen-tablet: 850px;
$screen-l: 1080px;
$screen-xl: 1280px;

$font-size: 12px;
$logo-container-height: 4.1em;
$svg-blue-filter: invert(40%) sepia(100%) saturate(1393%) hue-rotate(169deg) brightness(93%) contrast(101%);

$color-main: #0099da;
$color-main-accent: #0068aa;
$color-font-main: #1d1f20;
$color-font-text: #2f3538;
$color-font-subtext: #808890;
$color-font-btn: #ffffff;
$color-autos-header: #dee1e3;
$font-contrast-color: #ffffff;
$border-color: #bdc3c6;
$main-bg-color: #ffffff;
$concesionario-header-bg: #2680b4;
$ff-main: VW Head, Helvetica Neue,Helvetica,Arial,sans-serif;
$ff-main-light: VW Head Light, Helvetica Neue,Helvetica,Arial,sans-serif;
$ff-main-bold: VW Head ExtraBold, Helvetica Neue,Helvetica,Arial,sans-serif;
$ff-text: VW Text, Helvetica Neue,Helvetica,Arial,sans-serif;
$ff-light: VW Text, Helvetica Neue,Helvetica,Arial,sans-serif;
$footer-bg-color: #f3f5f6;

$header-desktop-width: 120px;
