* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: 12px;
  line-height: 1em;
  font-stretch: 100%;
  font-family: VW Head, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  -webkit-font-variant-ligatures: normal;
          font-variant-ligatures: normal;
  font-variant-numeric: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  position: relative;
}

.btn {
  color: #ffffff;
  fill: #ffffff;
  background-color: #0099da;
  font-family: VW Head, Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-transition: background-color .2s, border .2s;
  transition: background-color .2s, border .2s;
  padding: 4px 9px;
  border-radius: 4px;
  vertical-align: middle;
  overflow: hidden;
  border: 1px solid #0099da;
  text-align: center;
  max-width: 480px;
  width: 214px;
  font-weight: bold;
  padding: .9em;
  outline-style: none;
  outline-width: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  vertical-align: middle;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btn:hover {
  border: 1px solid #0068aa;
  background-color: #0068aa;
  cursor: pointer;
}

.btn svg {
  height: 1.5em;
  width: auto;
  margin: 0 5px;
}

.btn-secondary {
  text-align: center;
  margin: auto;
}

.btn-secondary .icon {
  padding: .7em;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  width: 3em;
  height: 3em;
  margin: auto;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn-secondary .icon svg {
  height: 1.5em;
  width: auto;
  fill: #ffffff;
}

.btn-secondary:hover .icon, .btn-secondary:active .icon {
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.4);
}

#hidden-hamburger-menu {
  display: none;
  position: fixed;
  z-index: 1300;
  font-size: 1.5em;
  top: 86px;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 720px) {
  #hidden-hamburger-menu.active {
    display: block;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
  }
  #hidden-hamburger-menu.active ul {
    width: 80%;
  }
}

#hidden-hamburger-menu ul {
  background-color: #ffffff;
  width: 0;
  margin-left: auto;
  list-style: none;
  line-height: 1em;
  color: #808890;
  -webkit-transition: width 1s;
  transition: width 1s;
}

#hidden-hamburger-menu ul li {
  border-top: 1px solid #dfdfdf;
  width: 100%;
}

#hidden-hamburger-menu ul li a {
  width: 100%;
  display: block;
  padding: .7em 0 .5em 2em;
  border-bottom: 4px solid transparent;
  -webkit-transition: .3s;
  transition: .3s;
}

#hidden-hamburger-menu ul li a:hover, #hidden-hamburger-menu ul li a:active {
  border-bottom: 4px solid #0099da;
  color: #1d1f20;
}

header.main-header {
  position: fixed;
  max-width: 120px;
  overflow: hidden;
  background-color: #ffffff;
  -webkit-box-shadow: -14px 3px 14px 10px rgba(0, 0, 0, 0.5);
          box-shadow: -14px 3px 14px 10px rgba(0, 0, 0, 0.5);
  height: 100%;
  z-index: 121;
}

@media (max-width: 720px) {
  header.main-header {
    padding-left: 0;
    display: none;
  }
}

header.main-header ul {
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 1.11em;
}

header.main-header ul > li {
  border-bottom: 5px solid transparent;
  -webkit-transition: .4s;
  transition: .4s;
}

header.main-header ul > li:hover {
  border-bottom-color: #0099da99;
}

header.main-header ul li {
  width: 100%;
  height: 85px;
  margin: 0;
  padding: 0;
  border-top: 1px solid #dddddd;
}

header.main-header ul li:first-child {
  border-top: 0;
  height: 131px;
}

header.main-header ul li.option a {
  width: 100%;
  height: 100%;
  color: #808890;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: -.25px;
  text-align: center;
  -webkit-transition: color .3s;
  transition: color .3s;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header.main-header ul li.option a .icon {
  text-align: center;
}

header.main-header ul li.option a .icon svg {
  margin-top: .7em;
  vertical-align: middle;
  display: inline-block;
  line-height: normal;
  width: 50px;
  height: 34px;
  fill: #808890;
}

header.main-header ul li.option a:hover, header.main-header ul li.option a.active {
  color: #1d1f20;
}

header.main-header ul li.option a:hover .icon svg, header.main-header ul li.option a.active .icon svg {
  fill: #0099da;
  -webkit-transition: fill .3s;
  transition: fill .3s;
}

header.main-header ul li.logo {
  padding: 30px 20px 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

header.main-header ul li.logo img {
  width: 100%;
  height: 82px;
}

main#main-content {
  width: 100%;
  padding-left: 120px;
  min-height: 100vh;
}

@media (max-width: 720px) {
  main#main-content {
    padding-left: 0;
  }
}

main#main-content > #web-content {
  width: 100%;
  padding-top: 86px;
  position: relative;
}

@media (max-width: 720px) {
  main#main-content > #web-content {
    padding-top: 155px;
  }
}

main#main-content > #web-content > section {
  width: 100%;
  min-height: 60vh;
}

main#main-content section.home-header {
  -webkit-box-shadow: 2px 0 15px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 2px 0 15px 0 rgba(0, 0, 0, 0.5);
  position: fixed;
  width: calc(100% - 120px);
  z-index: 120;
  background-color: #0099da;
  color: #ffffff;
}

@media (max-width: 720px) {
  main#main-content section.home-header {
    width: 100%;
    background-color: #fff;
    padding: 0;
  }
}

main#main-content section.home-header .concesionario {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 350px auto 25%;
      grid-template-columns: 350px auto 25%;
  grid-column-gap: 2em;
}

@media (max-width: 850px) {
  main#main-content section.home-header .concesionario {
    -ms-grid-columns: 350px auto;
        grid-template-columns: 350px auto;
  }
}

main#main-content section.home-header .concesionario .logo {
  background-color: #ffffff;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 86px;
  padding: .1em 1em;
}

@media (max-width: 720px) {
  main#main-content section.home-header .concesionario .logo {
    padding: .1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    grid-column: 1/-1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

main#main-content section.home-header .concesionario .logo .vw-logo {
  padding: .7em;
  display: none;
  vertical-align: bottom;
}

@media (max-width: 720px) {
  main#main-content section.home-header .concesionario .logo .vw-logo {
    text-align: left;
    width: auto;
    height: 100%;
    display: block;
  }
}

main#main-content section.home-header .concesionario .logo img {
  width: auto;
  height: 70px;
  padding: .2em;
  text-align: left;
  margin: 0 auto;
  display: block;
}

main#main-content section.home-header .concesionario .logo .nombre {
  font-size: 1.4em;
  background-color: #fff;
  color: #1d1f20;
  text-align: center;
}

@media (max-width: 720px) {
  main#main-content section.home-header .concesionario .logo .nombre {
    display: none;
  }
}

@media (max-width: 720px) {
  main#main-content section.home-header .concesionario .logo .concesionario-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main#main-content section.home-header .concesionario .logo #hamburger-button {
  color: red;
  position: relative;
  display: none;
  padding: 1.7em 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 720px) {
  main#main-content section.home-header .concesionario .logo #hamburger-button {
    display: block;
  }
}

main#main-content section.home-header .concesionario .logo #hamburger-button input#hamburger-checkbox {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

main#main-content section.home-header .concesionario .logo #hamburger-button span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #0099da;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

main#main-content section.home-header .concesionario .logo #hamburger-button span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

main#main-content section.home-header .concesionario .logo #hamburger-button span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

main#main-content section.home-header .concesionario .logo #hamburger-button input#hamburger-checkbox:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-10px, -10px);
          transform: rotate(45deg) translate(-10px, -10px);
}

main#main-content section.home-header .concesionario .logo #hamburger-button input#hamburger-checkbox:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

main#main-content section.home-header .concesionario .logo #hamburger-button input#hamburger-checkbox:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(-9px, 10px);
          transform: rotate(-45deg) translate(-9px, 10px);
}

main#main-content section.home-header .concesionario .locacion {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: VW Text, Helvetica Neue, Helvetica, Arial, sans-serif;
}

@media (max-width: 850px) {
  main#main-content section.home-header .concesionario .locacion {
    display: none;
  }
}

main#main-content section.home-header .concesionario .locacion .direccion {
  font-size: 1.3em;
  font-family: VW Text, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 100;
}

main#main-content section.home-header .concesionario .locacion .ciudad {
  font-family: VW Text, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
}

main#main-content section.home-header .concesionario .contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #0099da;
  font-family: VW Head Light, Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.4em;
}

@media (max-width: 720px) {
  main#main-content section.home-header .concesionario .contacto {
    padding: .7em 0;
    grid-column: 1/-1;
  }
}

section.home-content .main-banner {
  width: 100%;
  position: relative;
  overflow: hidden;
}

section.home-content .main-banner img {
  width: 100%;
  height: auto;
}

section.home-content .page-content {
  margin: 0 auto;
  max-width: 1180px;
  padding: 0 20px;
}

section.home-content .page-content .formulario-contacto-home {
  padding: 1em 0;
}

section.home-content .page-content .formulario-contacto-home .title {
  text-align: center;
  font-size: 1.7em;
  padding: 1em;
  font-family: VW Head ExtraBold, Helvetica Neue, Helvetica, Arial, sans-serif;
}

section.home-content .page-content .formulario-contacto-home form {
  text-align: center;
}

section.home-content .page-content .formulario-contacto-home form .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.home-content .page-content .formulario-contacto-home form .info select,
section.home-content .page-content .formulario-contacto-home form .info input {
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: .5em;
  margin-top: 10px;
}

section.home-content .page-content .formulario-contacto-home form .info input {
  text-align: center;
}

section.home-content .page-content .formulario-contacto-home form .tyc {
  text-align: center;
  padding: 2em 0;
  font-size: 1.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section.home-content .page-content .banner2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  overflow: hidden;
}

section.home-content .page-content .banner2 .item {
  margin: 10px;
}

section.home-content .page-content .banner2 .item .image {
  overflow: hidden;
  width: 100%;
}

section.home-content .page-content .banner2 .item .texto {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

section.home-content .selectone {
  background-color: #EEEEEE;
  padding: 3em 1em;
  height: 500px;
}

section.home-content .selectone .title {
  text-align: center;
  font-size: 3em;
  display: block;
  font-weight: bold;
  line-height: 3em;
}

section.home-content .selectone .carousel {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  width: 100%;
  max-width: 1000px;
  text-align: center;
  grid-column-gap: 1em;
  margin: 0 auto;
}

section.home-content .selectone .carousel .img-car img {
  width: 100%;
  height: auto;
}

section.home-content .selectone .carousel .img-car .name {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

section.home-content .saber-mas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2em;
  text-align: center;
}

@media (max-width: 720px) {
  section.home-content .saber-mas {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

section.home-content .saber-mas > .title {
  grid-column: 1/-1;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  padding: 1em;
  line-height: 1em;
}

section.home-content .saber-mas .item .icon {
  max-width: 200px;
  margin: 0 auto;
}

section.home-content .saber-mas .item .icon img {
  width: 100%;
  height: auto;
}

section.home-content .saber-mas .item .text {
  font-family: VW Text, Helvetica Neue, Helvetica, Arial, sans-serif;
}

section.home-content .saber-mas .item .title {
  font-size: 1.7em;
  font-weight: bold;
  padding-top: .5em;
  padding-bottom: .3em;
}

section.home-content .saber-mas .item .link {
  font-size: 1.3em;
  margin-top: 2em;
  margin-bottom: 1em;
}

@media (max-width: 720px) {
  section.home-content .saber-mas .item a {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    display: -ms-grid;
    display: grid;
    margin-top: 2em;
  }
  section.home-content .saber-mas .item .icon {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
    max-width: 100px;
    margin-right: 10px;
    margin-left: auto;
  }
  section.home-content .saber-mas .item .link {
    margin-top: 0;
  }
  section.home-content .saber-mas .item .link, section.home-content .saber-mas .item .title, section.home-content .saber-mas .item .text {
    text-align: left;
  }
}

#go-to-top {
  display: block;
  text-align: right;
  grid-column: 1/-1;
  background-color: #dde0e2;
}

#go-to-top > div {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1em;
  font-size: 1.2em;
}

footer#main-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2em;
  max-width: 1280px;
  margin: 0 auto;
  font-family: VW Text, Helvetica Neue, Helvetica, Arial, sans-serif;
}

@media (max-width: 720px) {
  footer#main-footer {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

footer#main-footer ul {
  text-decoration: none;
  list-style: none;
}

footer#main-footer .section {
  padding: 1em;
}

footer#main-footer .section ul li {
  border-bottom: 1px solid #cccccc;
  padding: 1em;
}

footer#main-footer .section ul li.title {
  font-size: 1.3em;
  padding-bottom: 2em;
  font-weight: bold;
}

@media (max-width: 720px) {
  footer#main-footer .section.follow-us {
    -ms-grid-row: 1;
    grid-row: 1;
    grid-column: 1/-1;
    text-align: center;
  }
  footer#main-footer .section.follow-us ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
    border-bottom: 1px solid #cccccc;
  }
  footer#main-footer .section.follow-us ul .title {
    grid-column: 1/-1;
  }
  footer#main-footer .section.follow-us ul li {
    border-bottom: 1px solid transparent;
  }
  footer#main-footer .section.follow-us ul li a {
    text-align: center;
  }
}

footer#main-footer .section.follow-us li.item a .icon {
  width: 35px;
  height: 35px;
}

footer#main-footer .section.follow-us li.item a .icon svg {
  width: 100%;
  height: 100%;
}

footer#main-footer .section.follow-us li.item a .text {
  margin-left: 10px;
}

footer#main-footer .section.follow-us li.item a > div {
  display: inline-block;
  vertical-align: middle;
}

footer#main-footer ul.legalities {
  margin-top: 2em;
  padding: 1em;
  width: 100%;
  grid-column: 1/-1;
  color: #2f3538;
  text-align: center;
}

footer#main-footer ul.legalities li {
  display: inline-block;
  padding: 0 1em;
  border-left: #2f3538 1px solid;
  margin-top: 5px;
  -webkit-transition: .2s;
  transition: .2s;
}

footer#main-footer ul.legalities li a {
  border-bottom: 1px solid transparent;
}

footer#main-footer ul.legalities li a:hover {
  border-bottom: 1px solid #808890;
}

section.autos-view .autos-header {
  width: 100%;
}

section.autos-view .autos-header h1 {
  background-color: #dee1e3;
  color: #1d1f20;
  font-size: 2em;
  padding: 1em 0 1em 50px;
  width: 100%;
}

section.autos-view .autos-header nav {
  padding: 0.5em 0 0.5em 50px;
  font-size: 1.2em;
  width: 100%;
  background-color: #808890;
}

section.autos-view .autos-header nav ul {
  width: 100%;
}

section.autos-view .autos-header nav ul li {
  display: inline-block;
  padding-right: 1em;
}

section.autos-view .autos-header nav ul li a {
  width: 100%;
  color: inherit;
}

section.autos-view .autos-header nav ul li:hover {
  color: #ffffff;
}

section.modelos-view {
  padding: 1em 2em;
}

section.modelos-view .contenedor-vehiculos {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  text-align: center;
  margin: 0 auto;
  max-width: 1400px;
}

@media (min-width: 720px) {
  section.modelos-view .contenedor-vehiculos {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

section.modelos-view .contenedor-vehiculos .dpr_container .dpr_listname {
  width: 100%;
}

section.modelos-view .contenedor-vehiculos .dpr_container .dpr_listname .dpr_imagen_thumb {
  width: 100%;
}

section.modelos-view .contenedor-vehiculos .dpr_container .dpr_listname .dpr_imagen_thumb img {
  width: 100%;
  height: auto;
}

section.modelos-view .contenedor-vehiculos .dpr_container .dpr_listname .dpr_product-name {
  font-size: 2em;
  font-weight: 600;
  padding-top: .5em;
  line-height: .8em;
}

section.modelos-view .contenedor-vehiculos .dpr_container .dpr_listprice {
  color: #808890;
  font-size: 1.2em;
  padding-top: .5em;
}

section.modelos-view .contenedor-vehiculos .dpr_container .dpr_listprice::before {
  content: 'Desde: ';
}

section.modelos-view .contenedor-vehiculos .dpr_container .dpr_in_stock,
section.modelos-view .contenedor-vehiculos .dpr_container .dpr_product-list-add-button {
  display: none;
}
/*# sourceMappingURL=styles.css.map */