@import "./variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-size: $font-size;
    line-height: 1em;
    font-stretch: 100%;
    font-family: $ff-main;
    font-style:normal;
    font-variant-caps:normal;
    font-variant-east-asian:normal;
    font-variant-ligatures:normal;
    font-variant-numeric:normal;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 100%;
    position: relative;
    
}

.img {
    width: 100%;

    img {
        width: 100%;
        height: auto;
    }
}


.btn {
    color: $font-contrast-color;
    fill: $font-contrast-color;
    background-color: $color-main;
    font-family: $ff-main;

    transition: background-color .2s, border .2s;
    // min-height: 42px;
    padding: 4px 9px;
    border-radius: 4px;
    vertical-align: middle;
    overflow: hidden;
    border: 1px solid $color-main;
    text-align: center;
    max-width: 480px;
    width: 214px;
    font-weight: bold;
    padding: .9em;
    outline-style:none;
    outline-width:0px;
    overflow-x:hidden;
    overflow-y:hidden;
    position: relative;
    text-decoration-line:none;
    text-decoration-style:solid;
    text-size-adjust:100%;
    vertical-align:middle;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);

    &:hover {
        
        border: 1px solid $color-main-accent;
        background-color: $color-main-accent;
        cursor: pointer;
        
    }

    svg {
        height: 1.5em;
        width: auto;
        margin: 0 5px;
    }
}

.btn-secondary {
    text-align: center;

    .icon {
        padding:.7em;
        border-radius: 100%;
        background-color: rgba(0,0,0,.2);
        width: 3em;
        height: 3em;
        margin: auto;
        transition: .3s;
        svg {
            
            height: 1.5em;
            width: auto;
            fill: $font-contrast-color;
        }
    }
    
    &:hover, &:active {
        .icon {
            background-color: transparent;
            background-color: rgba(0,0,0,.4);
        }
    }
    margin: auto;
}

#hidden-hamburger-menu {
    display: none;
    position: fixed;
    z-index: 1300;
    font-size: 1.5em;
    top: 86px;
    opacity: 0;
    transition: .3s;

    &.active {

        @media (max-width: $screen-m) {
            display: block;
            width: 100vw;
            min-height: 100vh;
            height: 100%;
            background-color: rgba(0,0,0,.4);
            opacity: 1;
            transition: .3s;
            
            ul {
                width: 80%;
            }
        }
    }
    ul {
        background-color: $main-bg-color;
        width: 0;
        margin-left: auto;
        list-style: none;
        line-height: 1em;
        color: $color-font-subtext;
        transition: width .3s;

        li {
            border-top: 1px solid #dfdfdf;
            width: 100%;

            a {
                width: 100%;
                display: block;
                padding: .7em 0 .5em 2em;
                border-bottom: 4px solid transparent;
                transition: .3s;

                &:hover,
                &:active {
                    border-bottom: 4px solid $color-main;
                    color: $color-font-main;
                }
            }
        }
    }
}

@import './vertical-nav';
@import "./lm";
@import "./footer";

main#main-content {

    width: 100%;
    padding-left: $header-desktop-width;
    min-height: 100vh;

    @media (max-width: $screen-m) {
        padding-left: 0;
    }
    
    >#web-content {
        width: 100%;
        $home-header-height: 86px;
        padding-top: $home-header-height;
        position: relative;

        @media (max-width: $screen-m) {
            padding-top: 155px;
        }

        >section {
            width: 100%;
            min-height: 60vh;
        }
    }

    section.home-header {
        box-shadow: 2px 0 15px 0 rgba(0,0,0,.5);
        position: fixed;
        width: calc(100% - #{$header-desktop-width});
        
        z-index: 120;
        
        background-color: $color-main;
        color: $font-contrast-color;
        
        // padding: 1em 2em;
        @media (max-width: $screen-m) {
            width: 100%;
            background-color: #fff;
            padding: 0;
        }

        .concesionario {
            text-align: center;
            display: grid;
            grid-template-columns: 350px auto 25%;
            grid-column-gap: 2em;
            
            @media(max-width: $screen-tablet) {
                grid-template-columns: 350px auto;
            }

            .logo {
                background-color: #ffffff;
                overflow-x: hidden;
                overflow-y: hidden;
                height: 86px;
                padding: .1em 1em;
                padding-top: 9px;
                @media (max-width: $screen-m) {
                    padding: .1em;
                    display: flex;
                    padding-left: 0;
                    grid-column: 1/-1;
                    justify-content: space-between;
                }
                

                .vw-logo {
                    padding: .7em;
                    display: none;
                    vertical-align: bottom;

                    @media (max-width: $screen-m) {
                        text-align: left;
                        width: auto;
                        height: 100%;
                        display: block;
                    }
                }
                
                img {
                    width: auto;
                    height: 70px;
                    padding: .2em;
                    text-align: left;
                    // margin-right: auto;
                    margin: 0 auto;
                    display: block;
                }
                .nombre {
                    font-size: 1.4em;
                    background-color: #fff;
                    color: $color-font-main;
                    text-align: center;
                    display: none;
    
                    @media (max-width: $screen-m) {
                        display: none;
                    }
                }
                .concesionario-logo {
                    display: flex;
                    @media (max-width: $screen-m) {
                        flex-direction: column;
                        justify-content: center;
                    }
                }
                #hamburger-button {
                    position: relative;
                    display: none;
                    padding: 1.7em 1em;
                    flex-direction: column;
                    justify-content: center;
                    user-select: none;


                    @media (max-width: $screen-m) {
                        display: flex;
                    }

                    input#hamburger-checkbox {
                        display: block;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: -7px;
                        left: -5px;
                    
                        cursor: pointer;
                    
                        opacity: 0;
                        /* hide this */
                        z-index: 2;
                        /* and place it over the hamburger */
                    
                        -webkit-touch-callout: none;
                    }

                    span {
                        display: block;
                        width: 33px;
                        height: 4px;
                        margin-bottom: 5px;
                        position: relative;
                    
                        background: $color-main;
                        border-radius: 3px;
                    
                        z-index: 1;
                    
                        transform-origin: 4px 0px;
                    
                        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                            opacity 0.55s ease;
                        
                            &:first-child {
                                transform-origin: 0% 0%;
                            }
                            &:nth-last-child(2) {
                                transform-origin: 0% 100%;
                            }
                            
                    }
                    input#hamburger-checkbox:checked~span {
                        opacity: 1;
                        transform: rotate(45deg) translate(-10px, -10px);

                        &:nth-last-child(3) {
                            opacity: 0;
                            transform: rotate(0deg) scale(0.2, 0.2) ;
                        }
                        &:nth-last-child(2) {
                            transform: rotate(-45deg) translate(-9px, 10px);
                        }
                    }
                }
            }
            .locacion {
                text-align: left;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-family: $ff-text-light;


                @media (max-width: $screen-tablet) {
                    display: none;
                }
                .direccion {
                    font-size: 1.3em;
                    font-family: $ff-text-light;
                    font-weight: 100;
                }
                .ciudad {
                    font-family: $ff-text-light;
                    font-weight: 300;
                }

            }
            .contacto {
                display: flex;
                justify-content: space-around;
                background-color: $color-main;
                font-family: $ff-main-light;
                line-height: 1.4em;

                @media (max-width: $screen-m) {
                    padding: .7em 0;
                    grid-column: 1/-1;

                }
            }
        }
    }
}

@import './home-view';
@import './categorias';

#go-to-top {


    display: none;
    text-align: right;
    grid-column: 1/-1;
    background-color: #dde0e2;
    >div {
        max-width: $screen-xl;
        margin: 0 auto;
        padding: 1em;
        font-size: 1.2em;
    }
}

section.autos-view {
    .autos-header {
        $left-padding: 50px;
        width: 100%;

        h1 {
            background-color: $color-autos-header;
            color: $color-font-main;
            font-size: 2em;
            padding: 1em 0 1em $left-padding;
            width: 100%;
        }
        nav {
            padding: .5em 0 .5em $left-padding;
            font-size: 1.2em;
            width: 100%;
            background-color: $color-font-subtext;

            ul {
                width: 100%;;

                li {
                    display: inline-block;
                    padding-right: 1em;

                    a {
                        width: 100%;
                        color: inherit;
                        padding: .5em;
                        display: inherit;
                    }

                    &:hover {
                        color: $font-contrast-color;
                    }
                }
            }
        }
    }
    .content {
        width: 100%;

        .main-banner {
            width: 100%;

            img {
                width: inherit;
                height: auto;
            }
        }
        .module {
            background-color: #fff;
            width: 100%;

            >.title {
                font-family: $ff-main;
                width: 100%;
                font-size: 2.3em;
                line-height: 1em;
                text-align: center;
                background-color: $footer-bg-color;
                padding: .7em;
                text-transform: uppercase;
                letter-spacing: .3em;
                margin: 1em 0;
                grid-column: 1/-1;
            }
            .carousel {
                width: 100%;
                height: 250px;
                text-align: center;

                img {
                    height: 100%;
                    width: auto;
                }
            }
            .galeria {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                @media(max-width: $screen-m) {
                    grid-template-columns: 1fr;
                }
                .interior,
                .exterior {
                    padding: 1em;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
            &.exterior,
            &.interior {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: 1em;
                grid-row-gap: 4em;
                
                @media (max-width: $screen-m) {
                    grid-template-columns: 1fr;
                }

                img {
                    width: 100%;
                    height: auto;
                }
                .text {
                    font-family: $ff-main-light;
                    font-size: 1.5em;
                    line-height: 1em;
                    color: $color-font-subtext;
                    
                    @media (max-width: $screen-m) {
                        padding: 1.3em;
                    }
                }

                >.img, 
                >.text {
                    padding: 0 10%;
                }
                .extra {

                    .title {
                        font-size: 1.8em;
                        font-family: $ff-main;
                        text-align: center;
                        line-height: 1em;
                        padding: .7em;
                    }
                    .info {
                        font-family: $ff-main-light;
                        font-size: 1.3em;
                        text-align: center;
                        color: $color-font-subtext;
                    }
                }
            }
            &.interior {
                .text {
                    grid-column: 1;
                    grid-row: 2;
                }
            }
        }
    }
}

.nuestras-sedes-view {
    .banner {
        width: 100%;

        img {
            width: 100%;
            height: auto;
        }
    }
    .ns-title {
        font-size: 3em;
        font-family: $ff-main;
        padding: .6em 1em;
    }
    .concesionario {
        padding: 1em 0; 
        border-top: 1px solid $color-autos-header;
        width: 100%;

        display: grid;
        grid-template-columns: 60% 40%;

        @media (max-width: $screen-m) {
            grid-template-columns: 1fr;
        }

        .info {
            display: flex;
            padding: 1em;
            flex-direction: column;
            justify-content: center;
            font-size: 1.6em;
            line-height: 1.2em;

            .title {
                font-size: 1.4em;
            }
            .items {
                font-family: $ff-text;
                font-size: 1.1em;
            }
        }
        .mapa {
            max-height: 300px;
            overflow: hidden;
            img {
                width: 100%;
                height: auto;
            }
        }

    }
}

@import './escribanos';
@import "./lm";
@import './slick';
