@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #000;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Montserrat', sans-serif;
}

.close-modal {
  background: #000000;
  color: #FFFFFF;
  line-height: 25px;
  position: fixed;
  text-align: center;
  right: 1em;
  top: 1em;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
  -webkit-box-shadow: 1px 1px 3px #000;
          box-shadow: 1px 1px 3px #000;
  font-family: Arial, sans-serif;
  font-size: 20px;
  z-index: 120;
}

@media (max-width: 540px) {
  .close-modal {
    top: 5px;
    right: 3px;
  }
}

.close-modal:hover {
  background: #00d9ff;
}

input,
select,
textarea {
  font-family: Montserrat, sans-serif;
}

svg {
  position: absolute;
  opacity: 0.25;
}

svg .canvas {
  fill: transparent;
  opacity: 0;
}

svg a .shape {
  fill: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

svg a:hover .shape,
svg a:active .shape {
  fill: blue;
}

svg a:hover .shape.red,
svg a:active .shape.red {
  fill: red;
}

svg a:hover .shape.white,
svg a:active .shape.white {
  fill: white;
}

svg a:hover .shape.yellow,
svg a:active .shape.yellow {
  fill: yellow;
}

svg a:hover .shape.purple,
svg a:active .shape.purple {
  fill: purple;
}

svg a:hover .shape.black,
svg a:active .shape.black {
  fill: black;
}

svg a:hover .shape.gray,
svg a:active .shape.gray {
  fill: gray;
}

svg a:hover .shape.orange,
svg a:active .shape.orange {
  fill: orange;
}

svg a:hover .shape.green,
svg a:active .shape.green {
  fill: green;
}

svg a:hover .shape.yellowgreen,
svg a:active .shape.yellowgreen {
  fill: yellowgreen;
}

svg a:hover .shape.pink,
svg a:active .shape.pink {
  fill: hotpink;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-container .swiper-slide {
  overflow: hidden;
}

.swiper-container .swiper-slide img,
.swiper-container .swiper-slide svg {
  width: auto;
  height: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: orange;
}

.sportgo-logo {
  position: fixed;
  z-index: 10;
  font-size: 32px;
  bottom: 0;
  right: 18%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.sportgo-logo .sport {
  vertical-align: sub;
  font-family: Logo1;
  color: #000000;
  text-transform: lowercase;
  font-style: italic;
}

.sportgo-logo .go {
  text-transform: lowercase;
  vertical-align: middle;
  font-family: Logo2;
  color: #DB0316;
  font-size: 2em;
}

.shopping-cart {
  position: fixed;
  z-index: 2;
  background-color: #000000;
  color: #ffffff;
  padding: .2em .4em;
  border-radius: 20px;
  top: 5%;
  right: 10%;
  text-decoration: none;
}

@media (max-width: 768px) {
  .shopping-cart {
    font-size: .7em;
    top: .5em;
    right: 1em;
  }
}

.shopping-cart .quantity {
  display: inline-block;
  vertical-align: middle;
  margin-right: .5em;
  background-color: #DB0316;
  border-radius: 100%;
  text-align: center;
  padding: .25em;
  width: 1.5em;
  height: 1.5em;
}

.shopping-cart .logo {
  display: inline;
  vertical-align: middle;
}

.shopping-cart .logo svg {
  fill: #ffffff;
  width: 15px;
  height: 18px;
  opacity: 1;
  position: relative;
}

@media (width: 540px) {
  .shopping-cart .logo svg {
    width: 18px;
    height: 12px;
  }
}

a.info-link {
  position: absolute;
}

@media (max-width: 768px) {
  a.info-link {
    display: none;
  }
}

a.info-link.pos1 {
  left: 5%;
  top: 10%;
}

a.info-link.pos2 {
  right: 30%;
  top: 25%;
}

a.info-link.pos3 {
  left: 10%;
  bottom: 5%;
}

a.info-link div.info-item {
  text-decoration: none;
  color: #000;
  position: absolute;
  border: 1px solid transparent;
  width: 180px;
  padding: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-transition: border .5s;
  transition: border .5s;
}

a.info-link div.info-item:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

a.info-link div.info-item div.image-preview {
  height: calc(180px - 10px * 2);
  width: calc(180px - 10px * 2);
  border-radius: 100%;
  overflow: hidden;
}

a.info-link div.info-item div.image-preview img {
  width: 100%;
  height: auto;
  border-radius: 100%;
  position: relative;
}

a.info-link div.info-item .title {
  font-size: 1.3em;
  font-weight: bold;
}

a.info-link div.info-item .description {
  line-height: 1em;
  max-height: 4em;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

a.info-link div.info-item .description:after {
  font-size: 1.3em;
  font-weight: bold;
  color: aquamarine;
  content: "More...";
}

#thanks-message {
  font-family: Typewriter_Condensed;
  display: none;
  position: fixed;
  z-index: 2;
  background-color: #fff;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  left: 0;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 1.3em;
  opacity: 1;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: -10;
}

@media (max-width: 540px) {
  #thanks-message {
    font-size: .9em;
  }
}

#thanks-message .message {
  font-size: 2em;
  line-height: 1em;
}

#thanks-message span.message-body {
  display: block;
  font-size: .7em;
  padding: 1em;
}

#viewShoppingCart {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  top: 0;
  left: 0;
  opacity: 0;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

#viewShoppingCart .inner {
  position: relative;
  min-width: 600px;
  min-height: 300px;
  margin: auto;
  background: #ffffff;
  display: -ms-grid;
  display: grid;
  font-family: Typewriter_Condensed;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 30px;
  font-size: 1.3em;
  overflow-y: auto;
  overflow-x: hidden;
}

@media (max-width: 540px) {
  #viewShoppingCart .inner {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 80%;
    height: auto;
    min-width: 320px;
    padding: 1em;
  }
}

#viewShoppingCart .inner .title {
  font-weight: bold;
  grid-column: 1/-1;
  font-size: 1.3em;
  text-align: left;
}

#viewShoppingCart .inner h2 {
  font-family: adiNeue;
  grid-column: 1/-1;
  font-size: 2.5em;
  text-align: left;
  line-height: 1em;
  padding: .2em .5em;
  margin: 0;
}

@media (max-width: 540px) {
  #viewShoppingCart .inner h2 {
    font-weight: bold;
    margin: 0;
    font-size: 1.8em;
    border-bottom: 1px solid black;
    margin-bottom: .3em;
  }
}

#viewShoppingCart .inner .products {
  text-align: left;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  font-size: .9em;
  line-height: 1em;
  grid-row-gap: .5em;
  border-right: 1px solid black;
  padding-right: 1em;
  grid-column-gap: 1em;
}

@media (max-width: 540px) {
  #viewShoppingCart .inner .products {
    border: 0;
  }
}

#viewShoppingCart .inner .products .img {
  border: 1px solid black;
  grid-row: span 5;
  overflow: hidden;
  margin: auto;
}

#viewShoppingCart .inner .products .img img {
  width: 100%;
  height: auto;
}

#viewShoppingCart .inner .products .name {
  font-weight: bold;
  background-color: #000000;
  color: #ffffff;
  padding: .2em;
  max-height: 1.5em;
}

#viewShoppingCart .inner .products .description {
  font-weight: 200;
  font-size: .8em;
  line-height: 1em;
}

#viewShoppingCart .inner .products .qty {
  text-align: center;
}

#viewShoppingCart .inner .products .qty input {
  width: 60%;
  max-width: 3em;
  text-align: right;
}

#viewShoppingCart .inner .products .pp_unit {
  text-align: right;
}

#viewShoppingCart .inner .products .pp_total {
  text-align: right;
}

#viewShoppingCart .inner .pricing {
  padding-left: 1em;
  text-align: left;
  display: -ms-grid;
  display: grid;
  font-size: 1.2em;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (2.5em)[10];
      grid-template-rows: repeat(10, 2.5em);
  line-height: 1em;
}

#viewShoppingCart .inner .pricing .value {
  text-align: right;
  font-family: adiNeue;
}

#viewShoppingCart .inner .pricing .divider {
  grid-column: 1/-1;
  border-top: 1px solid black;
}

#viewShoppingCart .inner .pricing .keep-shopping {
  font-size: unset;
  grid-column: 1/-1;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 2em;
}

.modalDialog {
  position: fixed;
  font-family: Typewriter_Condensed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  z-index: 99999;
  opacity: 1;
  -webkit-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  overflow: scroll;
}

@media (max-width: 540px) {
  .modalDialog {
    font-size: .7em;
  }
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog > div.product-modal {
  width: 60vw;
  min-width: 300px;
  max-width: 650px;
  position: relative;
  margin: 5% auto;
  padding: 5px 20px 13px 20px;
  border: #000 solid 1px;
  background: #fff;
}

.modalDialog > div.product-modal p {
  line-height: 1em;
  margin: .3em 0;
}

@media (max-width: 540px) {
  .modalDialog > div.product-modal {
    width: 80%;
    max-width: 340px;
    top: 2.3em;
  }
}

.modalDialog > div.product-modal .title {
  font-size: 2em;
  font-weight: bold;
}

.modalDialog > div.product-modal .prod-images .prod-image {
  text-align: center;
}

.modalDialog > div.product-modal .prod-images .prod-image img {
  width: auto;
  max-width: 600px;
  height: auto;
  max-height: 450px;
  position: relative;
}

@media (max-width: 540px) {
  .modalDialog > div.product-modal .prod-images .prod-image img {
    max-width: 320px;
    max-height: 200px;
  }
}

.modalDialog > div.product-modal .prod-images .thumbs {
  width: 4em;
  position: absolute;
}

.modalDialog > div.product-modal .prod-images .thumbs .thumb {
  border-radius: 100%;
  border: #000 solid 2px;
  width: 100%;
  height: 4em;
  display: block;
  overflow: hidden;
  margin-bottom: .5em;
  cursor: pointer;
  -webkit-transition: border .2s;
  transition: border .2s;
}

.modalDialog > div.product-modal .prod-images .thumbs .thumb:hover {
  border: transparent solid 1px;
}

.modalDialog > div.product-modal .prod-images .thumbs .thumb img {
  width: 100%;
  height: auto;
  position: relative;
}

.modalDialog > div.product-modal .price {
  position: absolute;
  display: block;
  width: 65%;
  text-align: right;
  font-family: adiNeue, Arial, Helvetica, sans-serif;
  font-size: 2em;
  border-bottom: #000 3px solid;
  right: 1.2em;
}

.modalDialog > div.product-modal .specs-btn {
  margin-top: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.modalDialog > div.product-modal .specs {
  font-size: 2em;
}

.modalDialog > div.product-modal .specs .spec {
  text-align: left;
}

.modalDialog > div.product-modal .specs .spec .name {
  font-weight: 600;
  background-color: #FFFFFF;
}

.modalDialog > div.product-modal .specs .spec .variants .variant {
  display: block;
  height: 1.1em;
  width: 1em;
  display: inline-block;
  border: #000 solid 1px;
  -webkit-transition: border .2s;
  transition: border .2s;
  padding: .1em;
  overflow: hidden;
  position: relative;
  line-height: 1em;
}

.modalDialog > div.product-modal .specs .spec .variants .variant:hover {
  border: transparent solid 1px;
  cursor: pointer;
}

.modalDialog > div.product-modal .specs .spec .variants .variant.selected:before, .modalDialog > div.product-modal .specs .spec .variants .variant.selected:after {
  position: absolute;
  content: '';
  background: black;
  display: block;
  width: 100%;
  height: 3px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.modalDialog > div.product-modal .specs .spec .variants .variant.selected:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modalDialog > div.product-modal .add-to-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.go-font {
  text-transform: lowercase;
  vertical-align: middle;
  font-family: Logo2;
}

.btn, .button_def {
  margin: .5em auto;
  max-width: 300px;
  display: block;
  background-color: #227FC4;
  border: solid 1px #227FC4;
  position: relative;
  text-align: center;
  color: #FFFFFF;
  font-size: 1rem;
  padding: .3em 1em;
  text-decoration: none;
  -webkit-transition: border .2s, background-color .2s;
  transition: border .2s, background-color .2s;
  font-family: Typewriter_Condensed, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.btn .outter-box, .button_def .outter-box {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background-color: transparent;
  border: solid 1px #227FC4;
  top: -4px;
  -webkit-transition: border .2s, background-color .2s;
  transition: border .2s, background-color .2s;
  left: 4px;
}

.btn:hover, .button_def:hover {
  cursor: pointer;
  background: #000000;
  border: #000000 1px solid;
}

.btn:hover .outter-box, .button_def:hover .outter-box {
  border: #000000 1px solid;
}

#checkout-window {
  font-family: Typewriter_Condensed;
  display: -ms-grid;
  display: grid;
  position: fixed;
  z-index: 2;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  left: 0;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 1.3em;
  opacity: 1;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 1;
  opacity: 1;
  display: grid;
  -ms-grid-columns: (minmax(300px, 400px))[2];
      grid-template-columns: repeat(2, minmax(300px, 400px));
  grid-column-gap: 10%;
  z-index: 9;
}

@media (max-width: 900px) {
  #checkout-window {
    grid-column-gap: 10px;
  }
}

@media (max-width: 768px) {
  #checkout-window {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0 1em;
    overflow-y: auto;
  }
}

@media (540px) {
  #checkout-window {
    padding: 0;
  }
}

#checkout-window .continuar {
  position: absolute;
  top: 1em;
  left: 1em;
}

#checkout-window .title {
  font-family: adiNeue;
  font-size: 1.5em;
  text-align: center;
  margin-top: 2.5em;
  text-decoration: underline;
  margin-bottom: 1em;
}

#checkout-window .products {
  border-right: 1px solid #000;
  padding: 1em;
}

@media (max-width: 768px) {
  #checkout-window .products {
    border: 0;
  }
}

#checkout-window .products .product {
  display: -ms-grid;
  display: grid;
  margin-bottom: 1em;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid #000;
}

#checkout-window .products .product .img {
  border: 1px solid #000;
  overflow: hidden;
  max-width: 180px;
}

#checkout-window .products .product .img img {
  width: 100%;
  height: auto;
}

#checkout-window .products .product .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#checkout-window .products .product .info .prod-variant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#checkout-window .products .product .name {
  grid-column: 1/-1;
  font-size: 1.3em;
  text-align: left;
  padding: .2em;
  font-family: AdiNeue, Arial, Helvetica, sans-serif;
}

#checkout-window .products .total {
  text-align: right;
  display: block;
  font-size: 1.3em;
  border-bottom: 1px solid #000;
}

#checkout-window .vendor-code {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  #checkout-window .vendor-code {
    max-width: 500px;
    margin: 0 auto;
  }
}

#checkout-window .vendor-code .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: .3em;
}

#checkout-window .vendor-code .met-envio .title {
  font-family: AdiNeue, Arial, Helvetica, sans-serif;
  padding: .5em 3em;
  margin: 0;
  text-decoration: none;
  background-color: #000;
  color: #fff;
  font-size: 1.35em;
}

#checkout-window .vendor-code .met-envio .compra-rapida {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#checkout-window .vendor-code .met-envio .compra-rapida .input {
  display: -ms-grid;
  display: grid;
}

#checkout-window .vendor-code .met-envio .compra-rapida .input input,
#checkout-window .vendor-code .met-envio .compra-rapida .input span,
#checkout-window .vendor-code .met-envio .compra-rapida .input label {
  margin: 0 auto;
}

#delivery-window {
  font-family: Typewriter_Condensed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 2;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  left: 0;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 1.3em;
  opacity: 1;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: -10;
  opacity: 1;
  display: flex;
  z-index: 9;
}

#delivery-window .continuar {
  position: absolute;
  top: 1em;
  left: 1em;
}

#delivery-window .title {
  font-family: adiNeue;
  font-size: 1.5em;
  text-align: center;
  margin-top: 1em;
  text-decoration: underline;
  margin-bottom: 1em;
}

#delivery-window form {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
}

#delivery-window .btn.go-font {
  font-size: 25px;
  max-width: 120px;
  width: 100%;
}

#delivery-window .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .2em 0;
}

#registration-window {
  font-family: Typewriter_Condensed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 2;
  background-color: #fff;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  left: 0;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 1.3em;
  opacity: 1;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: -10;
  opacity: 1;
  display: flex;
  z-index: 9;
}

#registration-window .close-modal {
  right: 1em;
  top: 1em;
}

#registration-window .title {
  font-size: 1.3em;
  width: 80%;
  max-width: 700px;
  text-align: left;
  padding-left: 1em;
  margin: 0 auto;
  margin-top: 25px;
}

@media (max-width: 768px) {
  #registration-window .title {
    margin-top: .7em;
  }
}

#registration-window form {
  width: 80%;
  max-width: 700px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  margin-top: 10px;
}

@media (max-width: 768px) {
  #registration-window form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: .6em;
    max-width: 350px;
  }
}

#registration-window form .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: .5em 0;
  position: relative;
}

@media (max-width: 768px) {
  #registration-window form .input {
    margin: .1em 0;
  }
}

#registration-window form .input.line {
  grid-column: 1/-1;
  max-width: 400px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  #registration-window form .input {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  #registration-window form .input label {
    text-align: left;
  }
}

#registration-window form .input input {
  position: relative;
  right: 0;
}

#registration-window form .input label {
  position: relative;
  left: 0;
}

#registration-window form .go-font {
  font-size: 25px;
  font-weight: 100;
  padding: 0 1em .5em 1em;
  height: 30px;
  line-height: 1em;
}

#login-window {
  font-family: Typewriter_Condensed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 2;
  background-color: #fff;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  left: 0;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 1.3em;
  opacity: 1;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 9;
  opacity: 1;
  display: flex;
  z-index: 9;
}

#login-window #registration-btn {
  position: absolute;
  top: 1em;
  left: 3em;
  background-color: #000;
  color: #fff;
}

#login-window #registration-btn:hover, #login-window #registration-btn:active {
  background-color: #227FC4;
  border-color: #227FC4;
}

#login-window form {
  max-width: 500px;
  margin: 0 auto;
  width: 80%;
}

#login-window label,
#login-window input {
  display: block;
  font-family: inherit;
  padding: .2em;
}

#login-window .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 80%;
  margin: 0 auto;
  text-align: left;
}

.swiper-button-next,
.swiper-button-prev {
  opacity: .5;
}

iframe#modal-iframe {
  position: fixed;
  z-index: 900;
  width: 80%;
  height: 90%;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 550px;
}

iframe#modal-iframe:target {
  max-height: unset;
  opacity: 1;
}

section#product-view {
  font-size: 13px;
  position: relative;
  padding: 5px 20px 13px 20px;
  border: #000 solid 1px;
  background: #ffffff;
  font-family: Typewriter_Condensed, Helvetica Neue, Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

section#product-view .title {
  font-size: 2em;
  font-weight: bold;
  font-family: adiNeue, Arial, Helvetica, sans-serif;
  margin: .5em 0;
}

section#product-view #product_gallery {
  width: 100%;
}

section#product-view #product_gallery .glass-case {
  margin: 0 auto;
}

section#product-view #product_gallery .glass-case ul#product-gallery li {
  border: 2px solid black;
  border-radius: 100%;
  overflow: hidden;
  -webkit-transition: .2s;
  transition: .2s;
  padding: 0;
}

section#product-view #product_gallery .glass-case ul#product-gallery li.gc-active {
  border: none;
}

section#product-view #product_gallery .glass-case .gc-display-area {
  border: none;
}

section#product-view .prod-images .prod-image {
  text-align: center;
}

section#product-view .prod-images .prod-image img {
  width: auto;
  max-width: 600px;
  height: auto;
  max-height: 450px;
  position: relative;
}

@media (max-width: 540px) {
  section#product-view .prod-images .prod-image img {
    max-width: 320px;
    max-height: 200px;
  }
}

section#product-view .prod-images .thumbs {
  width: 4em;
  position: absolute;
}

section#product-view .prod-images .thumbs .thumb {
  border-radius: 100%;
  border: #000 solid 2px;
  width: 100%;
  height: 4em;
  display: block;
  overflow: hidden;
  margin-bottom: .5em;
  cursor: pointer;
  -webkit-transition: border .2s;
  transition: border .2s;
}

section#product-view .prod-images .thumbs .thumb:hover {
  border: transparent solid 1px;
}

section#product-view .prod-images .thumbs .thumb img {
  width: 100%;
  height: auto;
  position: relative;
}

section#product-view #product_pricing {
  position: absolute;
  display: block;
  width: 65%;
  text-align: right;
  font-family: adiNeue, Arial, Helvetica, sans-serif;
  font-size: 2em;
  border-bottom: #000000 3px solid;
  right: 1.2em;
  color: transparent;
}

section#product-view #product_pricing #product_price {
  color: #000000;
}

section#product-view #product_availability {
  font-size: 1em;
  text-align: center;
}

section#product-view #product_availability span.out_of_stock {
  display: block;
  color: red;
  font-size: 1.3em;
}

section#product-view .specs-btn {
  margin-top: 2.2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

section#product-view #product_specs #product_specs_title {
  font-size: 1.8em;
  line-height: 1em;
}

section#product-view #product_specs #product_specs_content #product_specs_table {
  margin: .5em auto 1em;
}

section#product-view #product_specs #product_specs_content #product_specs_table tr:first-child td {
  border-top: none;
}

section#product-view #product_specs #product_specs_content #product_specs_table tr td {
  border-top: #000000 dashed 1px;
}

section#product-view #product_specs #product_specs_content #product_specs_table tr td:first-child {
  padding-right: 3em;
  border-right: 1px dashed #000000;
}

section#product-view #product_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#product-view #product_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#product-view #product_form form table#product_variants {
  font-family: Helvetica;
  font-size: .9em;
}

section#product-view #product_form form table#product_variants a.listname {
  color: #227FC4;
  font-size: 1.2em;
  font-family: adiNeue, Arial, Helvetica, sans-serif;
}

section#product-view #product_form form table#product_variants span.in_stock {
  color: #42C300;
  font-family: Typewriter_Condensed, Helvetica Neue, Helvetica, Arial, sans-serif;
}

section#product-view .add-to-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#product-view div#product_description #product_description_title {
  font-size: 1.5em;
  line-height: 1em;
}

section#product-view div#product_description div#product_description_content {
  padding: 0 1.5em;
}

section#product-view div#product_in_cart {
  background-color: #000000;
  color: white;
  padding: 1em;
  text-align: center;
  font-size: 1.2em;
  line-height: 1em;
}

section#product-view div#product_in_cart::before {
  content: '¡';
}

section#product-view div#product_in_cart::after {
  content: '!';
}

section#product-view .logo-marca {
  display: none;
}

section#product-view span.input-group-button button {
  border: 1px solid #000000;
  border-radius: 3px;
}

section#product-view span.input-group-button button:hover {
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */